block vars
doctype
html
  head
    meta(charset="utf-8")
    title=title
    meta(property="og:image", content="http://idangero.us/framework7/i/f7-banner.jpg")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/highlight.css")
    link(rel="shortcut icon" href="../favicon.png")
    script(src="../js/vendor/modernizr-2.7.1.min.js")
  body
    header.inner-header
      .center
        a(href="../").logo
        .langs
          span Language: 
          a(href="http://www.idangero.us/framework7/") EN
          a(href="http://f7cn.com/") CN
        .title-links
          .title Framework7
          .links-row
            .links-label Project:
            .links
              a(href="https://github.com/nolimits4web/Framework7", target="_blank") Download

              - if (activeLink == 'contribute')
                a(href="../contribute/").active Contribute
              - else
                a(href="../contribute/") Contribute

              - if (activeLink == 'donate')
                a(href="../donate/").active Donate
              - else
                a(href="../donate/") Donate

              a(href="https://github.com/nolimits4web/Framework7/blob/master/CHANGELOG.md", target="_blank") Changelog
          .links-row
            .links-label Learn:
            .links 
              - if (activeLink == 'get-started')
                a(href="../get-started/").active Get Started  
              - else
                a(href="../get-started/") Get Started  

              - if (activeLink == 'docs')
                a(href="../docs/").active Docs
              - else
                a(href="../docs/") Docs

              - if (activeLink == 'tutorials')
                a(href="../tutorials/").active Tutorials
              - else
                a(href="../tutorials/") Tutorials

              a(href="../forum/") Forum
          .links-row
            .links-label Apps:
            .links
              - if (activeLink == 'examples')
                a(href="../examples/").active Examples
              - else
                a(href="../examples/") Examples
                
              - if (activeLink == 'plugins')
                a(href="../plugins/").active Plugins
              - else
                a(href="../plugins/") Plugins

              - if (activeLink == 'apps')
                a(href="../apps/").active Demo Apps
              - else
                a(href="../apps/") Demo Apps

              - if (activeLink == 'showcase')
                a(href="../showcase/").active Showcase
              - else
                a(href="../showcase/") Showcase
            
    .share-line
      .center
        .share
          | <!-- AddThis Button BEGIN -->
          | <div class="addthis_toolbox addthis_default_style ">
          | <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          | <a class="addthis_button_tweet"></a>
          | <a class="addthis_button_twitter_follow_native" tw:screen_name="idangerous"></a>
          | <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          | <a class="addthis_counter addthis_pill_style"></a>
          | </div>
          | <!-- AddThis Button END -->
        .github-buttons
          .flattr-button 
            a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
              img(src="https://api.flattr.com/button/flattr-badge-large.png")
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=watch&count=true" width="100" height="20"></iframe>
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=fork&count=true" width="100" height="20"></iframe>
        .clearfix
    .content.center
      block content
    .share-line
      .center 
        .share
          | <!-- AddThis Button BEGIN -->
          | <div class="addthis_toolbox addthis_default_style ">
          | <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          | <a class="addthis_button_tweet"></a>
          | <a class="addthis_button_twitter_follow_native" tw:screen_name="idangerous"></a>
          | <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          | <a class="addthis_counter addthis_pill_style"></a>
          | </div>
          | <!-- AddThis Button END -->
        .github-buttons
          .flattr-button 
            a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
              img(src="https://api.flattr.com/button/flattr-badge-large.png")
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=watch&count=true" width="100" height="20"></iframe>
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=fork&count=true" width="100" height="20"></iframe>
        .clearfix
    footer
      .center
        .links
          a(href="../") Framework7
          a(href="../plugins/") Plugins
          a(href="../contribute/") Contribute
          a(href="../get-started/") Get Started
          a(href="../docs/") Docs
          a(href="../tutorials/") Tutorials
          a(href="../forum/") Forum
          a(href="../examples/") Examples
          a(href="../apps/") Demo Apps
          a(href="../showcase/") Showcase
        .copy 2015 © Framework7 by iDangero.us
    block footer
    script(src="../js/vendor/jquery-1.11.0.min.js")
    script(src="../js/plugins.js")
    script(src="../js/main.js")
    script.
      var addthis_config = {"data_track_addressbar":true};
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c9b0605d63191c")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-13289120-8', 'idangero.us');
      ga('send', 'pageview');     
    block scripts