extends ../_internal-template

block vars
  - var activeLink = 'showcase';
  - var title = 'Framework7 Showcase';

block content
  h1 Framework7 Apps Showcase
  p If you released Framework7 app on AppStore or GooglePlay, or you have interesting Framework7 web app, don't hesitate to send us information about it at info@idangero.us and your app will be featured in this section.
  .important-note
    p We are for the good usability and user experience of apps made with Framework7. So the Framework7 apps released for Android on Google Play should be made with Material or custom theme to get into Showcase, but not with iOS theme.
  .showcase-apps
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/ia.jpeg")
      .app-info
        h2 Intern Avenue: Internships & Graduate Job Search
        .app-author by <a href="https://itunes.apple.com/us/developer/intern-avenue/id1045459178" target="_blank">Intern Avenue</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/intern-avenue-internships/id1045459179", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.internavenue.candidate", target="_blank").google-button
            a(href="https://www.internavenue.com/candidate/job-search-mobile-app/", target="_blank").button App Website
        .app-about
          p Our App works alongside our online platform allowing you to keep track of your applications, book interviews, and message employers - you’ll never have to wait until you get home to check your profile or schedule that interview.
          ul
            li Comprehensive job search function that allows you to filter by job type, salary, location, sector and duration
            li Easily apply for new roles, or save them for later
            li Direct messaging with employers
            li Schedule interviews
            li Get notified when a new job is posted or a deadline is approaching
            li Create, update and amend your profile
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/ia1.jpeg")
          img(src="#{cdn}/i/showcase/ia2.jpeg")
          img(src="#{cdn}/i/showcase/ia3.jpeg")
          img(src="#{cdn}/i/showcase/ia4.jpeg")
          img(src="#{cdn}/i/showcase/ia5.jpeg")
          img(src="#{cdn}/i/showcase/ia6.png")
          img(src="#{cdn}/i/showcase/ia7.png")
          img(src="#{cdn}/i/showcase/ia8.png")
          img(src="#{cdn}/i/showcase/ia9.png")
          img(src="#{cdn}/i/showcase/ia10.png")

    .app
      .app-icon.app-icon-rounded.app-icon-bordered
        img(src="#{cdn}/i/showcase/bs.jpeg")
      .app-info
        h2 Хлеб & Соль <i>(Bread & Salt)</i>
        .app-author by <a href="https://itunes.apple.com/us/developer/evgeny-konyakhin/id1010468129" target="_blank">Evgeny Konyakhin</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/hleb-sol/id1035553848?l=ru&ls=1&mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.pizket.pirogekbru", target="_blank").google-button
        .app-about
          p Pastries order. Heare are homemade pies: hearty, sweet, salty, lean, with fish, with meat, with fruits, cheese. Pure pleasure of Russian pastries' taste.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/bs1.jpeg")
          img(src="#{cdn}/i/showcase/bs2.jpeg")
          img(src="#{cdn}/i/showcase/bs3.jpeg")
          img(src="#{cdn}/i/showcase/bs4.jpeg")
          img(src="#{cdn}/i/showcase/bs5.png")
          img(src="#{cdn}/i/showcase/bs6.png")
          img(src="#{cdn}/i/showcase/bs7.png")
          img(src="#{cdn}/i/showcase/bs8.png")

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/miles.jpeg")
      .app-info
        h2 Miles Wallet - Track frequent flyer reward programs and plan your travel
        .app-author by <a href="https://itunes.apple.com/us/developer/parsing-cloud/id995263179" target="_blank">Parsing Cloud</a>
        .app-links
          p
            a(href="https://itunes.apple.com/en/app/miles-wallet/id995263180", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.mileswallet.app", target="_blank").google-button
            a(href="https://mileswallet.com/en/home/", target="_blank").button App Website
        .app-about
          p With Miles Wallet, organize all your reservations and reward programs in one place and keep an eye on your points and miles. Miles Wallet is free for use with the reward programs from airlines, hotels, car rental companies and credit cards.
          p Key Features:
          ul
            li Add as many reward programs as you would like
            li All your trips and accounts stored in one place and save your trip itineraries
            li Automatic connection to reward program web sites
            li Receive notifications with each transaction and before your points and miles expire
            li Manage several accounts for you and your family
            li Possibility to request for new reward programs which are not yet supported
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/miles1.jpeg")
          img(src="#{cdn}/i/showcase/miles2.jpeg")
          img(src="#{cdn}/i/showcase/miles3.jpeg")
          img(src="#{cdn}/i/showcase/miles4.jpeg")
          img(src="#{cdn}/i/showcase/miles5.jpeg")

    .app
      .app-icon.app-icon-rounded.app-icon-bordered
        img(src="#{cdn}/i/showcase/barstool.jpeg")
      .app-info
        h2 BarStool Happy Hours
        .app-author by <a href="https://itunes.apple.com/us/developer/m-o/id1022227289" target="_blank">M O</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/barstool-happy-hours/id1022227290?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=mobi.barstool&hl=en", target="_blank").google-button
        .app-about
          p Barstool is a FREE Restaurant & bar locator with nearby happy hours, daily specials, live music, dancing, trivia nights, and more!
          p Barstool currently supports all of California, and expanding quickly.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/barstool1.jpeg")
          img(src="#{cdn}/i/showcase/barstool2.jpeg")
          img(src="#{cdn}/i/showcase/barstool3.jpeg")
          img(src="#{cdn}/i/showcase/barstool4.jpeg")
          img(src="#{cdn}/i/showcase/barstool5.jpeg")

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/uptaxi.png")
      .app-info
        h2 UpTaxi Hybrid
        .app-author by Yoma Dan
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/uptaxi-hybrid/id975446026?mt=8", target="_blank").appstore-button
        .app-about
          p UpTaxi - a modern service taxi with the help of your smartphone.
          p The application is designed for taxi service online through UpTaxi.
          ul
            li service instantly picks up and finds a taxi;
            li loyal tariffs, bonuses and discounts;
            li instant cost calculation according to your wishes
            li find places and addresses near you using GPS;
            li pre-order a taxi;
            li history of orders and saved addresses;
            li unique feature of "cost control" allows you to make successful bookings in high load hours on the road, in the morning rush hour, at night, during the sudden deterioration of weather conditions;
            li the quality of online taxi service, UpTaxi, provides technical support - 24/7!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/uptaxi1.jpeg")
          img(src="#{cdn}/i/showcase/uptaxi2.jpeg")
          img(src="#{cdn}/i/showcase/uptaxi3.jpeg")
          img(src="#{cdn}/i/showcase/uptaxi4.jpeg")
          img(src="#{cdn}/i/showcase/uptaxi5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/squader.jpeg")
      .app-info
        h2 Squader
        .app-author by <a href="https://itunes.apple.com/us/developer/gary-zamorano/id973514193" target="_blank">Gary Zamorano</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/squader/id1039704424", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=game.squader", target="_blank").google-button
        .app-about
          p Squader - Search for friend to play online games in Destiny, and soon another games!
          p In Squader you can create "Squads" that allows you to find another guardians to play games in Destiny, you can select between raids, go to Crucible or just go patrol some planets, you will receive a push notification alerting you that other guardians looking for others! also Squader have a chat to communicate with others and coordinate the group.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/squader1.jpeg")
          img(src="#{cdn}/i/showcase/squader2.jpeg")
          img(src="#{cdn}/i/showcase/squader3.jpeg")
          img(src="#{cdn}/i/showcase/squader4.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/eia.jpeg")
      .app-info
        h2 EIA Open Data
        .app-author by <a href="https://itunes.apple.com/us/developer/steven-westmoreland/id1063890719" target="_blank">Steven Westmoreland</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/eia-open-data/id1063890720", target="_blank").appstore-button
        .app-about
          p EIA Open Data is an iOS app for browsing data provided by the U.S. Energy Information Administration (EIA) free and open data API.
          ul
            li Access a wide range of energy data covering production, stocks, demand, imports, exports and prices.
            li Search over 1,000,000 data sets provided by the U.S. Energy Information Administration.
            li Use favorites to keep tabs, or share data sets as comma-separated values (CSV) for analysis in external apps.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/eia1.jpeg")
          img(src="#{cdn}/i/showcase/eia2.jpeg")
          img(src="#{cdn}/i/showcase/eia3.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/expense.png")
      .app-info
        h2 Expense Today
        .app-author by <a href="https://play.google.com/store/apps/developer?id=Mansoor+Sarfraz" target="_blank">Mansoor Sarfraz</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.expensetoday.pocket", target="_blank").google-button
        .app-about
          p Expense Today helps you to manage your expenses, plan your goals and schedule your events. You can create joint accounts, joint budget and share event expenses with family and friends. It is designed for individuals, startups and small businesses. You can add transactions under different categories, such as Groceries, Entertainment, Transport etc.
          p Try it yourself to see more features, you'll love it!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/expense1.jpg")
          img(src="#{cdn}/i/showcase/expense2.jpg")
          img(src="#{cdn}/i/showcase/expense3.jpg")
          img(src="#{cdn}/i/showcase/expense4.jpg")
          img(src="#{cdn}/i/showcase/expense5.jpg")
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/budgetme.png")
      .app-info
        h2 Budget Me
        .app-author by <a href="https://play.google.com/store/apps/developer?id=Rizki+Sunaryo" target="_blank">Rizki Sunaryo </a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.rizkisunaryo.budget_me", target="_blank").google-button
        .app-about
          p This application will automatically calculate your daily budget. All you need to do is to fill the monthly budget and today spending.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/budgetme1.png")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/healthy.jpeg")
      .app-info
        h2 Healthy food recommendations
        .app-author by <a href="https://itunes.apple.com/us/developer/andrei-sozonov/id1070721618" target="_blank">Andrei Sozonov</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/healthy-food-recommendations/id1083354618?ls=1&mt=8", target="_blank").appstore-button
        .app-about
          p Healthy food recommendations and proper nutrition.
          p This app contains information on main products for healthy eating on a daily basis.
          p Type product that you would like to eat and find info whether you should eat it or not.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/healthy1.jpeg")
          img(src="#{cdn}/i/showcase/healthy2.jpeg")
          img(src="#{cdn}/i/showcase/healthy3.jpeg")
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/aburrido.png")
      .app-info
        h2 Aburrido.NET
        .app-author by <a href="https://play.google.com/store/apps/developer?id=NanitozDEV" target="_blank">NanitozDEV</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.nanitozdev.aburrido", target="_blank").google-button
        .app-about
          p Nonstop fun, jokes, memes and phrases for easy sharing!
          ul
            li Each section divided in their respective categories
            li Hundreds of Memes, jokes and phrases!
            li Save memes with one button!
            li Copy phrases and jokes easily
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/aburrido1.png")
          img(src="#{cdn}/i/showcase/aburrido2.jpg")
          img(src="#{cdn}/i/showcase/aburrido3.png")
          img(src="#{cdn}/i/showcase/aburrido4.png")
          img(src="#{cdn}/i/showcase/aburrido5.png")
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/pomodoro.png")
      .app-info
        h2 The Perfect Pomodoro
        .app-author by <a href="https://itunes.apple.com/us/developer/rob-welan/id1058189731" target="_blank">Rob Welan</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/the-perfect-pomodoro/id1063875917?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.robertmichaelwelan.theperfectpomodoro&hl=en", target="_blank").google-button
        .app-about
          p A classic pomodoro timer, offering a "work-period" and "short-break" or "long-break" timer-set. 
          p This App provides the perfect mechanism to help you stay focussed on whatever project you are working on!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/pomodoro1.jpeg")
          img(src="#{cdn}/i/showcase/pomodoro2.png")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/recipeminion.png")
      .app-info
        h2 Recipe Minion - Your Personal Recipe Book and Organizer
        .app-author by <a href="https://itunes.apple.com/us/developer/visual-gravity-multimedia/id378720397" target="_blank">Visual Gravity Multimedia</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/recipe-minion/id409042023?ls=1&mt=8", target="_blank").appstore-button
        .app-about
          p Now you can be the evil genius cook you've always wanted to be. Recipe Minion is here to do your bidding! Recipe Minion is a no-frills recipe box. This does not come with 1,000's of recipes you'll never use nor does it come with tons of useless features. You enter in your own recipes with a simple and easy interface.
          p You'll be able to search your recipes based on category or keyword. You can also email recipes to any address you specify- all you need is an email account already set up on your device along with an internet connection.
          ul
            li Turn on/off any category you want. If it's off, it will not show up in your selection box when adding or searching recipes - i.e. less to scroll through = less time to search or add.
            li Add your own custom categories! If you don't want to use any of the built-in categories, simply turn them off in the settings and add your own categories. Mix and match categories as you see fit.
            li Mark recipes as favorites and use the one touch Favorite selection from the main menu to bring up only your favorites.
            li Search results are delivered can be organized by Category then alphabetically within those categories if you have Sort By Categories turned on in settings.
            li And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/recipeminion1.jpeg")
          img(src="#{cdn}/i/showcase/recipeminion2.jpeg")
          img(src="#{cdn}/i/showcase/recipeminion3.jpeg")
          img(src="#{cdn}/i/showcase/recipeminion4.jpeg")
          img(src="#{cdn}/i/showcase/recipeminion5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/coverid.jpeg")
      .app-info
        h2 CoverID
        .app-author by <a href="https://itunes.apple.com/us/developer/dryrain-technologies/id376433962" target="_blank">Dryrain Technologies</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/coverid/id651129262?mt=8", target="_blank").appstore-button
            a(href="http://www.coveridapp.com/", target="_blank").button App Website
        .app-about
          p CoverID® is an intuitive, easy to use, accurate solution for bars, night clubs, and other venues with age restrictions on entry. Using Apple iOS devices and an enterprise class barcode scanning / MSR sled CoverID makes it easy to age-verify patrons at the door and allows them to pay cover by swiping their credit card. Doormen love CoverID for it’s ease of use and night club owners love the customer analytics collected.
          ul
            li Age Verification. Fast & accurate age verification by scanning a patron’s Driver’s License at the door.
            li Cover Payment. Accept credit cards for instant payment at the door
            li Customer Analytics. Collect & analyze patron data for targeted promotions, demographics & more!
            li Sleek & Intuitive Layout. Easy to use App with minimal training required
            li VIP/Black lists. Assign patrons to a VIP or Blacklist to identify them at the point of entry
            li Precise Scanning. Support for market leading hardware makes scanning fast, easy, and accurate
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/coverid1.jpeg")
          img(src="#{cdn}/i/showcase/coverid2.jpeg")
          img(src="#{cdn}/i/showcase/coverid3.jpeg")
          img(src="#{cdn}/i/showcase/coverid4.jpeg")
          img(src="#{cdn}/i/showcase/coverid5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/scread.png")
      .app-info
        h2 ScrEad
        .app-author by <a href="https://itunes.apple.com/us/developer/ezra-pietersz/id1037719149" target="_blank">Ezra Pietersz</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/scread/id1037719150", target="_blank").appstore-button
            a(href="https://www.scread.com/", target="_blank").button App Website
        .app-about
          p Scread is a simple and visual way to search and share books you love. Use Scread to discover new books and share the books you like with family and friends.
          p See new interesting books not only to follow the people you know, but also by simply using the search feature. Every time you open Scread, you’ll see new books from your closest friends plus from other people with the same book interests by inspirations, hobbies, tastes, values, etc.
          ul
            li Create your own bookshelf and share the books you like with family and friends.
            li Get notified when friends like and comment on your book posts.
            li Follow your friends and see their book posts.
            li Discover new books in the search feature.
            li Browse reviews before buying a book
            li Share the books you like to Twitter and Facebook.
            li Connect with other inspirational and interesting Screaders in the world and explore their bookshelves.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/scread1.jpeg")
          img(src="#{cdn}/i/showcase/scread2.jpeg")
          img(src="#{cdn}/i/showcase/scread3.jpeg")
          img(src="#{cdn}/i/showcase/scread4.jpeg")
          img(src="#{cdn}/i/showcase/scread5.jpeg")
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/solver.png")
      .app-info
        h2 Solver
        .app-author by <a href="https://play.google.com/store/apps/developer?id=Federico+Massi" target="_blank">Federico Massi</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=it.federicomassi.solver", target="_blank").google-button
        .app-about
          p Solver is a quick expression solver supporting a vast number of functions, unit conversions and constants.
          p Now you can have more than a calculator in your phone: this simple and effective app is what will ease mathematics to you (it's true :) )
          p It should also make maths funny (ok, this is less true... But Solver will wash lots of pain off of maths).
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/solver1.png")
          img(src="#{cdn}/i/showcase/solver2.png")
          img(src="#{cdn}/i/showcase/solver3.png")
          img(src="#{cdn}/i/showcase/solver4.png")
          img(src="#{cdn}/i/showcase/solver5.png")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/brollopsfeber.png")
      .app-info
        h2 Bröllopsfeber
        .app-author by <a href="https://itunes.apple.com/us/developer/maxium/id919479786" target="_blank">Maxium</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/brollopsfeber/id919479787", target="_blank").appstore-button
        .app-about
          p The app is for the largest wedding fairs in sweden "Bröllopsfeber" (wedding fever) with a lot of information about fairs exhibitors.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/brollopsfeber1.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/niceslide.png")
      .app-info
        h2 NiceSlide
        .app-author by <a href="https://itunes.apple.com/sg/developer/ronny-guenther/id937712789" target="_blank">Ronny Guenther</a>
        .app-links
          p
            a(href="https://itunes.apple.com/sg/app/niceslide/id937712790?mt=8", target="_blank").appstore-button
            a(href="http://www.niceslide.net/web/", target="_blank").button App Website
        .app-about
          p NiceSlide is the unique mobile hub for all your PowerPoint presentations. All your slides are readily available, whether you are on the go, attending important meetings or organizing material from conferences. Be fully prepared to present and exchange on any topic.
          ul
            li Search: Locate the right slide among thousands of documents in just seconds.
            li Browse: View particular folders or your entire library displaying previews of every single slide.
            li Highlight: Earmark interesting slides and take notes to organize your presentations the smart way.
            li Hot Topics: Arrange individual slides into folders called "hot topics" for direct access
            li Share: Send single slides or entire presentations via email in PDF/PowerPoint format or as a web link
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/niceslide1.jpeg")
          img(src="#{cdn}/i/showcase/niceslide2.jpeg")
          img(src="#{cdn}/i/showcase/niceslide3.jpeg")
          img(src="#{cdn}/i/showcase/niceslide4.jpeg")
          img(src="#{cdn}/i/showcase/niceslide5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/vguru.png")
      .app-info
        h2 Verkehrszeichen Guru (VZ Guru)
        .app-author by <a href="https://itunes.apple.com/us/developer/han-xiao/id1041784759" target="_blank">Han Xiao</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/verkehrszeichen-guru-vz-guru/id1041784760?ls=1&mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.ojins.vzguru", target="_blank").google-button
            a(href="http://vzguru.ojins.com/", target="_blank").button App Website
        .app-about
          p Verkehrszeichen Guru (VZ Guru) helps you to learn German traffic signs better and faster.
          ul
            li Perfect complement for your driving lessons
            li Contains over 170 common road signs in Germany
            li Official description and explanation for every road sign
            li Powerful search function that allows you to search by category/color
            li Quick test to examine your theoretical knowledge
            li Minimal design with a clean interface, SVG vector image for all road signs, offer you a smooth user experience
            li Multi-language (English, German Chinese) support for foreigners live in Germany.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/vguru1.jpeg")
          img(src="#{cdn}/i/showcase/vguru2.jpeg")
          img(src="#{cdn}/i/showcase/vguru3.jpeg")
          img(src="#{cdn}/i/showcase/vguru4.jpeg")
          img(src="#{cdn}/i/showcase/vguru5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/friends.jpeg")
      .app-info
        h2 Friends - Chat Meet Travel Date
        .app-author by <a href="https://itunes.apple.com/us/developer/pulkit-kathuria/id590206103" target="_blank">Pulkit Kathuria</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/id1023103151", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.friends.smmobile473566", target="_blank").google-button
            a(href="http://friendsapp.parseapp.com/", target="_blank").button App Website
        .app-about
          ul
            li Friends is the App that shows you find people by choosing country and location. At present we have listed 14 countries with more than 200 cities
            li Talk to people in your local area or across the states in your home country.
            li Traveling to somewhere and want to make friends before you go, Friends App allows you to change your location and search people from a specific state.
            li Add nice backgrounds, images to your profile.
            li Real time update of chat backgrounds on 1:1 chats
            li Send questions and answer within the Chat window
            li Easy to add and block people
            li Optionally you can make your private won't show up in search. Your Footprints are not notified to other users anyways.
            li We focus on Facebook login and try to do a good job with filtering fake profiles
            li Two different app themes and different themes to customize your profile and chats
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/friends1.jpeg")
          img(src="#{cdn}/i/showcase/friends2.jpeg")
          img(src="#{cdn}/i/showcase/friends3.jpeg")
          img(src="#{cdn}/i/showcase/friends4.jpeg")
          img(src="#{cdn}/i/showcase/friends5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/aplt.png")
      .app-info
        h2 Aplt1: Free Audiobook Player
        .app-author by <a href="https://itunes.apple.com/us/developer/appletfab-llc/id1025263483" target="_blank">Appletfab LLC</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/aplt1-free-audiobook-player/id1025263484", target="_blank").appstore-button
        .app-about
          p Aplt1™ ("app-let-one") provides a better way to enjoy free audiobooks from LibriVox, or any other unprotected mp3 audio book that is available via RSS.
          ul
            li Optimized for LibriVox.
            li Free!
            li No advertisements. (We may add book-specific links in the future.)
            li Automatic timestamps keep track of current and recent positions across multiple books.
            li Large 'Play' button and uncrowded layout: easy to tap on the go.
            li Rewind by 5 seconds if you miss a little of the audio, 30 seconds if more.
            li Landscape layout provides a more natural approach for controlling audio playback and displaying relevant details.
            li Portrait layout with lots of information, organized for clarity.
            li Time remaining in the entire book included to help you plan when to look for your next book.
            li Several additional features that are optimized for books rather than for podcasts.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/aplt1.jpeg")
          img(src="#{cdn}/i/showcase/aplt2.jpeg")
          img(src="#{cdn}/i/showcase/aplt3.jpeg")
          img(src="#{cdn}/i/showcase/aplt4.jpeg")
          img(src="#{cdn}/i/showcase/aplt5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/phrase.png")
      .app-info
        h2 Ready Phrase for WhatsApp
        .app-author by <a href="https://itunes.apple.com/us/developer/hts-consultoria-em-informatica/id965864109" target="_blank">HTS Consultoria em Informatica Ltda.</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/frase-pronta-para-whatsapp/id1023494323?l=pt&ls=1&mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.hamiltonhtsnet.com.br.fraseprontawhatsapp", target="_blank").google-button
        .app-about
          p Do you send similar messages through WhatsApp frequently? Then, this is the right app for you!
          p With this app you prepare your messages and whenever you need to send one, just choose and send to a contact person or WhatsApp group. You can even edit the content at the time of shipment, without saving. So you personalize the message for a given shipment but keeps the original for future use.
          p Ideal for companies that provide Customer Services by WhatsApp, professionals, personal trainer and any other activity that has WhatsApp as fast communication tool.
          p You can create new messages at any time. The basic version allows up to 10 different phrases at no cost. For sentences there is the option (coming soon) to acquire a package of unlimited phrases.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/phrase1.jpeg")
          img(src="#{cdn}/i/showcase/phrase2.jpeg")
          img(src="#{cdn}/i/showcase/phrase3.jpeg")
          img(src="#{cdn}/i/showcase/phrase4.jpeg")
          img(src="#{cdn}/i/showcase/phrase5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/pointmovie.jpeg")
      .app-info
        h2 Point Movie
        .app-author by <a href="https://itunes.apple.com/us/artist/bei-jing-luo-ke-ke-ji-you/id992080592" target="_blank">北京络客科技有限公司</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/dian-ying/id992080593?mt=8", target="_blank").appstore-button
        .app-about
          p The app is about TV or film communication, lots of cast finding player on this app platform, you can share your movie photo on PointMovie, find actor, director, writer, or anything about a movie. You can also share your movies history, get more friends who love movies as you.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/pointmovie1.jpeg")
          img(src="#{cdn}/i/showcase/pointmovie2.jpeg")
          img(src="#{cdn}/i/showcase/pointmovie3.jpeg")
          img(src="#{cdn}/i/showcase/pointmovie4.jpeg")
          img(src="#{cdn}/i/showcase/pointmovie5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/lipiciosii.png")
      .app-info
        h2 Lipiciosii - dating in Romania
        .app-author by <a href="https://itunes.apple.com/us/artist/dinamic-soft/id980334861" target="_blank">Dinamic Soft</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/lipiciosii-dating-in-romania/id980334862?mt=8", target="_blank").appstore-button
        .app-about
          p Lipicioşii is the most popular social networking and dating app in Romania.
          p Look on photos of boys and girls, meet with new people through chat or discussions on the forum, all in a friendly atmosphere.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/lipiciosii1.jpeg")
          img(src="#{cdn}/i/showcase/lipiciosii2.jpeg")
          img(src="#{cdn}/i/showcase/lipiciosii3.jpeg")
          img(src="#{cdn}/i/showcase/lipiciosii4.jpeg")
          img(src="#{cdn}/i/showcase/lipiciosii5.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/prism.png")
      .app-info
        h2 PRSM
        .app-author by <a href="https://itunes.apple.com/artist/brett-gregson/id820233075" target="_blank">Brett Gregson</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/prsm/id989164526?mt=8", target="_blank").appstore-button
            a(href="http://prsmapp.com/", target="_blank").button App Website
        .app-about
          p PRSM is a photo editing app to add amazing geometric prism effects to your photos.
          p PRSM includes many amazing prism effects, with a style suited to virtually every photograph, and is a perfect companion app for Instagram to enhance your PRSM effects even further.
          p Share your PRSM photos using the hashtag #MADEWITHPRSM on Twitter and Instagram
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/prism1.jpeg")
          img(src="#{cdn}/i/showcase/prism2.jpeg")
          img(src="#{cdn}/i/showcase/prism3.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/pixelpusher.jpeg")
      .app-info
        h2 PIXEL-PUSHER
        .app-author by <a href="https://itunes.apple.com/artist/brett-gregson/id820233075" target="_blank">Brett Gregson</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/pixel-pusher/id978292186?mt=8", target="_blank").appstore-button
            a(href="http://pixelpusherapp.com/", target="_blank").button App Website
        .app-about
          p Push the pixels around the screen, join all the pixels of the same color together to beat the level. Same colored pixels stick together when they touch.
          p Are you a pixel master?
          p Play the first 20 levels for free, unlock the additional 60 levels with a single in-app purchase (which also removes the ads)
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/pixelpusher1.jpeg")
          img(src="#{cdn}/i/showcase/pixelpusher2.jpeg")
          img(src="#{cdn}/i/showcase/pixelpusher3.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/monterey.png")
      .app-info
        h2 Monterey EMS
        .app-author by <a href="https://itunes.apple.com/artist/zachary-botterman/id889690201" target="_blank">Zachary Botterman</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/monterey-ems/id889690198?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.montereyems.montereyems", target="_blank").google-button
        .app-about
          p Monterey County EMS application allows emergency personnel the quick and concise information needed for on or off duty reference.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/monterey1.jpeg")
          img(src="#{cdn}/i/showcase/monterey2.jpeg")
          img(src="#{cdn}/i/showcase/monterey3.jpeg")
          img(src="#{cdn}/i/showcase/monterey4.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/krogguiden.jpeg")
      .app-info
        h2 KROGGUIDEN VARBERG
        .app-author by <a href="https://itunes.apple.com/artist/manmade/id387855065" target="_blank">Manmade</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/krogguiden-varberg/id978646892?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=se.manmade.krogguiden", target="_blank").google-button
        .app-about
          p Local restaurants and lunch guide app
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/krogguiden1.jpeg")
          img(src="#{cdn}/i/showcase/krogguiden2.jpeg")
          img(src="#{cdn}/i/showcase/krogguiden3.jpeg")
          img(src="#{cdn}/i/showcase/krogguiden4.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/celebration.jpeg")
      .app-info
        h2 Celebrations of June FULL
        .app-author by <a href="https://itunes.apple.com/artist/travel-and-play/id956460506" target="_blank">Travel And Play</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/celebrations-of-june-full/id999733190", target="_blank").appstore-button
        .app-about
          p There are dozens and hundreds of holidays and celebrations in the world, you can't remember them all, of course. But it's much easier to know what's happening in the world within a shorter period of time. For example during a month!
          p Celebrations Of June represents all of the most exciting and interesting holidays and celebrations of June worldwide! Now you can learn more about your favorite holidays or find out something new! With Celebrations Of June you won't need to create notifications to congratulate your friends abroad with their national holidays - all holidays are right here!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/celebration1.jpeg")
          img(src="#{cdn}/i/showcase/celebration2.jpeg")
          img(src="#{cdn}/i/showcase/celebration3.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/celebration.jpeg")
      .app-info
        h2 Celebrations of June
        .app-author by <a href="https://itunes.apple.com/artist/travel-and-play/id956460506" target="_blank">Travel And Play</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/celebrations-of-june/id999692639", target="_blank").appstore-button
        .app-about
          p There are dozens and hundreds of holidays and celebrations in the world, you can't remember them all, of course. But it's much easier to know what's happening in the world within a shorter period of time. For example during a month!
          p Celebrations Of June represents all of the most exciting and interesting holidays and celebrations of June worldwide! Now you can learn more about your favorite holidays or find out something new! With Celebrations Of June you won't need to create notifications to congratulate your friends abroad with their national holidays - all holidays are right here!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/celebration1.jpeg")
          img(src="#{cdn}/i/showcase/celebration2.jpeg")
          img(src="#{cdn}/i/showcase/celebration3.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/ccc.jpeg")
      .app-info
        h2 CCC Directory
        .app-author by <a href="https://itunes.apple.com/artist/tim-phaldaravid/id954189431" target="_blank">Tim Phaldaravid</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/ccc-directory/id958471781?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=org.cccdirectory.mobileapp", target="_blank").google-button
        .app-about
          p It is an application for CCC Business Directory. User can browser all listing and register own company or organisation to CCC Directory.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/ccc1.jpeg")
          img(src="#{cdn}/i/showcase/ccc2.jpeg")
          img(src="#{cdn}/i/showcase/ccc3.jpeg")
          img(src="#{cdn}/i/showcase/ccc4.jpeg")
          img(src="#{cdn}/i/showcase/ccc5.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/sprintsocial.png")
      .app-info
        h2 Sprint Social
        .app-author by <a href="https://itunes.apple.com/artist/click-innovate-ltd/id545084415" target="_blank">Click Innovate Ltd</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/sprint-social/id975135816", target="_blank").appstore-button
            a(href="http://sprint.social/", target="_blank").button App Website
        .app-about
          p The first short distance running app - race your friends anywhere, any time. Sprint Social combines the proven benefits of short bursts of high intensity exercise with the motivation of exercising with friends, even if they're not by your side.
          p Sprint Social harnesses the motivation of exercising with and challenging your Facebook friends, whatever your schedule or theirs. Race side by side, or across time zones and continents. Sprint Social uses Apple's gait recognition to measure your run. That means no waiting for GPS to lock on, no worries about privacy, no difference whether you're inside on a treadmill or out on your favourite 100m stretch.
          p <strong>Apple Watch app included!</strong>
          p Your Apple Watch will notify you when friends accept your challenge of a one to one sprint, when your friends challenge you to a sprint and displays the time of your last race. Always with you, Sprint Social reminds you how hard you worked and motivates you to keep it up, one short sprint at a time.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/sprintsocial1.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial2.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial3.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial4.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial5.jpeg")
        .app-shots
          img(src="#{cdn}/i/showcase/sprintsocial-w1.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial-w2.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial-w3.jpeg")
          img(src="#{cdn}/i/showcase/sprintsocial-w4.jpeg")
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/teamspender.png")
      .app-info
        h2 TeamSpender
        .app-author by <a href="https://itunes.apple.com/artist/andrey-voronin/id916547436" target="_blank">Andrey Voronin</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/teamspender/id951419615?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.teamspender.app", target="_blank").google-button
            a(href="http://teamspender.com/", target="_blank").button App Website
        .app-about
          p TeamSpender helps you easily log all collective spends in trips, travels and any kind of events.
          p From time to time/Ocasionally we all  go on trips or travel with our friends, make parties and go to cinema, where someone pays, for example, on the gas station, another one buys cinema tickets for all and at last it’s hard to understand, who to whom and how much owes.
          p TeamSpender counts all your spends and controls all expenses of your group.
          p You can choose different currencies and travel all over the world. You don’t need to worry about debts calculation. Just add new transaction - this is as a piece of cake.
          p This application shows, how much all members owes to each other.  And most importantly hints you an easy way to get out of debt. Nobody will doubt anymore, whom he owes and why so much! Teamspender makes plain all expenses and calculations and shows you detailed statistic by persons and goals.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/teamspender1.jpeg")
          img(src="#{cdn}/i/showcase/teamspender2.jpeg")
          img(src="#{cdn}/i/showcase/teamspender3.jpeg")
          img(src="#{cdn}/i/showcase/teamspender4.jpeg")
          img(src="#{cdn}/i/showcase/teamspender5.jpeg")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/shaklee.png")
      .app-info
        h2 掌上嘉康利 (Pocket Shaklee)
        .app-author by <a href="https://itunes.apple.com/us/artist/shaklee-china/id696559703" target="_blank">Shaklee (China)</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/zhang-shang-jia-kang-li/id959473555", target="_blank").appstore-button
        .app-about
          p Shopping app for Shaklee medical products
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/shaklee1.jpeg")
          img(src="#{cdn}/i/showcase/shaklee2.jpeg")
          img(src="#{cdn}/i/showcase/shaklee3.jpeg")
          img(src="#{cdn}/i/showcase/shaklee4.jpeg")
      .clearfix
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/series7.png")
      .app-info
        h2 Series Seven
        .app-author by <a href="http://idangero.us" target="_blank">iDangero.us</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/series-seven/id888005622", target="_blank").appstore-button
            a(href="http://idangero.us/series7/", target="_blank").button App Website
        .app-about
          p Series Seven allows you to track your favorite TV shows and easily get all information about TV show. You’ll never miss new episode of your favorite show with Series Seven
          p App Features:
          ul
            li Huge TV shows database
            li Mark and track watched episodes
            li Full overview for each TV show: synopsis, air time, cast, episodes list
            li Calculate time spent watching TV shows
            li TV shows calendar / timeline
            li Premieres calendar
            li Watch trailers for any TV show
            li Each episode overview and comments
            li Get notifications when new episode out
            li Trending and popular shows
            li Add shows to bookmarks
            li Authentication with Trakt account
            li Trakt-synchronized check ins
            li Add new comments to episodes
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/series71.png")
          img(src="#{cdn}/i/showcase/series72.png")
          img(src="#{cdn}/i/showcase/series73.png")
          img(src="#{cdn}/i/showcase/series74.png")
          img(src="#{cdn}/i/showcase/series75.png")
          img(src="#{cdn}/i/showcase/series76.png")
          img(src="#{cdn}/i/showcase/series77.png")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/zaoblakami.png")
      .app-info
        h2 Радио "За облаками" (Radio "Za Oblakami")
        .app-author by <a href="https://itunes.apple.com/us/artist/obs-group/id939951001" target="_blank">OBS Group</a>
        .app-links
          p
            a(href="https://itunes.apple.com/en/app/radio-za-oblakami/id939951002?mt=8", target="_blank").appstore-button
        .app-about
          p Local Russian radio station app. News, DJ photos and online radio streaming
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/zaoblakami1.jpeg")
          img(src="#{cdn}/i/showcase/zaoblakami2.jpeg")
          img(src="#{cdn}/i/showcase/zaoblakami3.jpeg")
          img(src="#{cdn}/i/showcase/zaoblakami4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/dietasjulia.png")
      .app-info
        h2 DietasJulia
        .app-author by <a href="https://play.google.com/store/apps/developer?id=Manuel+Carrillo+Almoguera" target="_blank">Manuel Carrillo Almoguera</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=manucaralmo.dietasjulia", target="_blank").google-button
        .app-about
          p Hemos trabajado mucho hasta lograr una aplicación que se adaptara a tí.<br>Con ella podrás llevar un control completo de tu dieta y se convertirá en una herramienta indispensable.<br>En esta app podrás encontrar diferentes apartados que te faciliten el seguimiento de la dieta.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/dietasjulia1.jpg")
          img(src="#{cdn}/i/showcase/dietasjulia2.jpg")
          img(src="#{cdn}/i/showcase/dietasjulia3.jpg")
          img(src="#{cdn}/i/showcase/dietasjulia4.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/klass9f.jpeg")
      .app-info
        h2 Klass 9F
        .app-author by <a href="http://axelboberg.se/" target="_blank">Axel Boberg</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/klass-9f-flah/id905020296?mt=8", target="_blank").appstore-button
        .app-about
          p This app is specifically developed for class 9F, Flahultsskolan, Sweden. App shows homework and the timetable for the week. It also contains a simple chat window and what’s on the food menu.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/klass9f1.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/wonderpolls.jpeg")
      .app-info
        h2 Wonder Polls: Question Everything!
        .app-author by <a href="https://itunes.apple.com/us/artist/tim-busbee/id689029339" target="_blank">Tim Busbee</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/wonder-polls-question-everything!/id689029336?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.wonderpolls.android", target="_blank").google-button
            a(href="http://www.wonderpolls.com/", target="_blank").button App Website
        .app-about
          p With over 1 MILLION downloads, Wonder Polls has lots of users and fresh content. Answer thousands of entertaining polls and Would You Rather type questions. Ask your own polls, then share them to get your friends anonymous answers. Create local polls that only those in your area can answer. Try to guess the #1 answer in the new game mode section. I could take more of your time explaining it, but you should really just download the app!
          ul
            li CREATE: Ask any question you want and get real answers.
            li LOCAL: Create polls that only those in your area can answer.
            li SHARE: Make questions just for your friends or share our featured and public polls.
            li GET ANSWERS: See instant results from your polls and polls you answer.
            li COMMENT: Chat with people about any poll in the comments section.
            li LAUGH: Enjoy answering some of the craziest questions ever asked.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/wonderpolls1.jpeg")
          img(src="#{cdn}/i/showcase/wonderpolls2.jpeg")
          img(src="#{cdn}/i/showcase/wonderpolls3.jpeg")
          img(src="#{cdn}/i/showcase/wonderpolls4.jpeg")
          img(src="#{cdn}/i/showcase/wonderpolls5.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/yapq.png")
      .app-info
        h2 yapQ - Worldwide audio city guides
        .app-author by <a href="https://itunes.apple.com/us/artist/igor-vynokur/id784765088" target="_blank">Igor Vynokur</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/yapq-worldwide-audio-city/id784765085?mt=8r", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.iv.yapq&hl=en", target="_blank").google-button
            a(href="http://yapq.com/", target="_blank").button App Website
        .app-about
          p Turn your smartphone into a worldwide audio city guide.
          p YapQ is a fun and easy-to-use multi-language app that lets you travel at your own pace.<br>YapQ brings you audio city guides for over thousands of cities all over the world.<br>Use your mobile device, on the go, to expand your knowledge on places you are visiting.<br>
          p Just open the app and it will speak to you - wherever you are,.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/yapq1.jpeg")
          img(src="#{cdn}/i/showcase/yapq2.jpeg")
          img(src="#{cdn}/i/showcase/yapq3.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/rephrase.png")
      .app-info
        h2 Rephrase It! Sentence Reworder
        .app-author by <a href="http://megabyterain.weebly.com/" target="_blank">Megabyte Rain</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.megabyterain.rephraseit", target="_blank").google-button
        .app-about
          p Rephrase It! Sentence Reworder is an a free app which can reword and rephrase any English sentence you input into it. This can be extremely useful for school papers or for a book you are writing.
          p Rephrase It! has two ways to rephrase your sentence: Basic and Advanced. Basic will try to rephrase your sentence without any help from you, while Advanced will ask you for the part of speech each word is.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/rephrase1.png")
          img(src="#{cdn}/i/showcase/rephrase2.png")
          img(src="#{cdn}/i/showcase/rephrase3.png")
          img(src="#{cdn}/i/showcase/rephrase4.png")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/folver.png")
      .app-info
        h2 Folver
        .app-author by <a href="http://megabyterain.weebly.com/" target="_blank">Megabyte Rain</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.megabyteraingmail.com.theformulasolver", target="_blank").google-button
            a(href="http://www.amazon.com/dp/B00NOHNDE6/ref=cm_sw_su_dp", target="_blank").amazon-button
            a(href="https://marketplace.firefox.com/app/folver-the-formula-solver/", target="_blank").firefox-button
        .app-about
          p Folver is a formula calculator. Finally, you can solve all of those confusing formulas in your hand. No need to remember whether it's x plus or minus x1, Folver does that for you.
          p This app is free and is great for algebra, geometry and other classes.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/folver1.png")
          img(src="#{cdn}/i/showcase/folver2.png")
          img(src="#{cdn}/i/showcase/folver3.png")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/delights.jpg")
      .app-info
        h2 Monday Delights
        .app-author by <a href="https://itunes.apple.com/us/artist/yevart/id797451621" target="_blank">Yevart</a>
        .app-links
          p
            a(href="https://itunes.apple.com/app/monday-delights/id797451618?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=ru.mondaydelights.mobile", target="_blank").google-button
        .app-about
          p Cooking magazine app with lot of simple recipes and beautiful photos
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/delights1.jpeg")
          img(src="#{cdn}/i/showcase/delights2.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/be106.png")
      .app-info
        h2 BE106
        .app-author by <a href="https://play.google.com/store/apps/developer?id=BE106" target="_blank">BE106</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/be106/id924446294", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=be106.net", target="_blank").google-button
        .app-about
          p BE106 is a local news site in more than 100 cities in Israel. App has sections of news, sports, business and economy, gossip, culture, articles, free board and more
          p App uses a lot of Framework7 features:
          ul
            li RTL Layout
            li Login screen (not as login)
            li Infinite slider with pull to refresh in each slide
            li Searchbar for ajax search with lazy loading
            li Contacts list (with Indexed List plugin)
            li Photo Browser
            li Messages as comments
            li handlebars templates
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/be1061.jpg")
          img(src="#{cdn}/i/showcase/be1062.jpg")
          img(src="#{cdn}/i/showcase/be1063.jpg")
          img(src="#{cdn}/i/showcase/be1064.jpg")
          img(src="#{cdn}/i/showcase/be1065.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/hichat.jpg")
      .app-info
        h2 HiChat
        .app-author by <a href="https://itunes.apple.com/us/artist/zhipeng-liu/id912139107" target="_blank">Zhipeng Liu</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/hi-liao-gao-xiao-shu-dong/id917320045?mt=8", target="_blank").appstore-button
        .app-about
          p HiChat is a Social Network like Twitter. It goes down well with the Chinese university students. But it only towards Chinese consumers, and only provides Chinese.
          ul
            li All university own their independent space.
            li The speak inside the App can be anonymous.
            li Anybody can explore help or release depression inside this App.
            li Enjoy a chat with users nearby.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/hichat1.jpeg")
          img(src="#{cdn}/i/showcase/hichat2.jpeg")
          img(src="#{cdn}/i/showcase/hichat3.jpeg")
          img(src="#{cdn}/i/showcase/hichat4.jpeg")
          img(src="#{cdn}/i/showcase/hichat5.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/laglistan.jpg")
      .app-info
        h2 Laglistan
        .app-author by <a href="https://itunes.apple.com/us/artist/meffecta/id697960416" target="_blank">Meffecta</a>
        .app-links
          p
            a(href="https://itunes.apple.com/en/app/laglistan/id859145140", target="_blank").appstore-button
        .app-about
          p With the app "Laglistan" you get easy access to the Swedish legislation. Each law is just a couple of taps away. Follow references to other laws as you navigate through the legislation. All laws are kept updated with current changes every night.
          p App Features:
          ul
            li Create your own lists and populate them with the laws that you need easy and fast access to
            li Search the complete collection of laws in Sweden ("Svensk författningssamling")
            li Browse through the laws by year of publication
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/laglistan1.jpeg")
          img(src="#{cdn}/i/showcase/laglistan2.jpeg")
          img(src="#{cdn}/i/showcase/laglistan3.jpeg")
          img(src="#{cdn}/i/showcase/laglistan4.jpeg")
          img(src="#{cdn}/i/showcase/laglistan5.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/webtoon.jpg")
      .app-info
        h2 My lekha Webtoon
        .app-author by <a href="https://itunes.apple.com/us/artist/my-lekha-social-media/id901805470" target="_blank">My lekha Social Media</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/my-lekha-webtoon/id901805467?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.webtoon", target="_blank").google-button
        .app-about
          p Cartoon –In full color and read in one long strip per chapter, cartoons are the distinctive style of web comics from Asia. As fans of such awesomeness, we like to translate these web comics into Khmer every now and then, and host them on this site, as well as web comics translated by other groups to share with you a nice collection. Do browse around and see which Cartoons you like.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/webtoon1.jpeg")
          img(src="#{cdn}/i/showcase/webtoon2.jpeg")
          img(src="#{cdn}/i/showcase/webtoon3.jpeg")
          img(src="#{cdn}/i/showcase/webtoon4.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/tv.png")
      .app-info
        h2 My lekha TV
        .app-author by <a href="https://play.google.com/store/apps/developer?id=My+lekha+Social+Media" target="_blank">My lekha Social Media</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.tv", target="_blank").google-button
        .app-about
          p Watch the Best and Unique video contents.Korean Drama & Movie with Khmer subtitle is available. Videos- Provides an intuitive and complete visual interface. For making and editing video websites. Video content building can be restricted to the administrators, chosen members (authors) or to all registered users. Submitting a new video takes a minute, and only requires that you know the video’s url on the external video sharing website
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/tv1.png")
          img(src="#{cdn}/i/showcase/tv2.png")
          img(src="#{cdn}/i/showcase/tv3.png")
          img(src="#{cdn}/i/showcase/tv4.png")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/music.png")
      .app-info
        h2 My lekha Music
        .app-author by <a href="https://play.google.com/store/apps/developer?id=My+lekha+Social+Media" target="_blank">My lekha Social Media</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.music", target="_blank").google-button
        .app-about
          p Mylekha Music is web based MP3 application and now released as App. We are the first app which can listen and download all music free so enjoy anywhere anytime!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/music1.png")
          img(src="#{cdn}/i/showcase/music2.png")
          img(src="#{cdn}/i/showcase/music3.png")
          img(src="#{cdn}/i/showcase/music4.png")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/itext.jpg")
      .app-info
        h2 iTEXT!
        .app-author by <a href="https://itunes.apple.com/us/artist/mohammed-al-noury/id568754708" target="_blank">Mohammed Al-Noury</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/itext!/id785455274", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.itextapp.itext", target="_blank").google-button
            a(href="http://itext-app.com/", target="_blank").button App Website
        .app-about
          p Do you need the right words to send to him or her you care about? A message that really expresses what you feel? Or are you just looking for a funny joke? Cheeky comment? Maybe an evil punch-line to a friend? If you are so, then this app is just right for you!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/itext1.jpeg")
          img(src="#{cdn}/i/showcase/itext2.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/river.jpg")
      .app-info
        h2 River Thames Guide
        .app-author by <a href="https://itunes.apple.com/gb/artist/jeff-maynard/id320977741" target="_blank">Jeff Maynard</a>
        .app-links
            a(href="https://itunes.apple.com/gb/app/river-thames-guide/id617269104?mt=8", target="_blank").appstore-button
        .app-about
          p The complete planner and guide for travel and leisure on the River Thames including where you can go, how you get there and what’s on the way.
          p App Features:
          ul
            li Thames Map and Guide: Interactive River Map, Journey Planner, Locks, Bridges, Weather
            li Boating Advice: Rules for the River, Preventing Problems, Emergency Help and Guidance RNLI approved
            li Buying a Boat: A taster of high quality, handmade Dutch craft from Val Wyatt: Open day boats by INTERBOAT, Cabin Cruisers by INTERCRUISER, Steel Luxury Yachts by JETTEN, Used Craft
            li And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/river1.jpeg")
          img(src="#{cdn}/i/showcase/river2.jpeg")
          img(src="#{cdn}/i/showcase/river3.jpeg")
          img(src="#{cdn}/i/showcase/river4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/aquasella.jpg")
      .app-info
        h2 Aquasella
        .app-author by <a href="https://itunes.apple.com/us/artist/sergio-suarez-gil/id895509402" target="_blank">Sergio Suarez Gil</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/aquasella/id895509399?mt=8", target="_blank").appstore-button
        .app-about
          p App oficial de Aquasella, uno de los festivales más importantes del panorama musical europeo que se celebra cada año en Arriondas, Principado de Asturias, España organizado por La Real Producciones. Ahora toda la información de tu festival favorito en el móvil! Regístrate en la aplicación para escuchar sesiones de los artistas que han pasado por el festival.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/aquasella1.jpeg")
          img(src="#{cdn}/i/showcase/aquasella2.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/maharashtra.jpg")
      .app-info
        h2 Maharashtra Election Tour 2014
        .app-author by <a href="https://play.google.com/store/apps/developer?id=TechRatna" target="_blank">TechRatna</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.techratna.electiontourmh2014", target="_blank").google-button
        .app-about
          p Full Coverage of Maharashtra Vidhan Sabha Election 2014
          p All Candidates (Declared as well as nondeclared) information: Detailed Profile with Updates from their respective facebook page, Review & Discussion for each candidate
          p All Constituencies Information: Detail Information with Updates from their respective facebook page, Candidates Information, Discussion on various issues in respective constituency
          p All Parties Information: Detail Information with Updates from their respective facebook page, Candidates Information, Discussions, Get All Updates from facebook without LOGIN or Without Liking page on Facebook !!!
          p And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/maharashtra1.jpg")
          img(src="#{cdn}/i/showcase/maharashtra2.jpg")
          img(src="#{cdn}/i/showcase/maharashtra3.jpg")
          img(src="#{cdn}/i/showcase/maharashtra4.jpg")
          img(src="#{cdn}/i/showcase/maharashtra5.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/zebra.jpg")
      .app-info
        h2 Zebra Hooves OSCE Revision
        .app-author by <a href="https://itunes.apple.com/us/artist/matthew-roche/id909432736" target="_blank">Matthew Roche</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/zebra-hooves-osce-revision/id909432733?mt=8", target="_blank").appstore-button
        .app-about
          p Learn how to perform OSCE stations to a standard ready for finals. Revise your OSCE skills. Test your friends and score yourself.
          p Zebra Hooves OSCE revision is designed to help clinical medical students learn and revise their OSCE skills, then test their friends. We hope to get more clinical medical students involved in writing content for the app
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/zebra1.jpeg")
          img(src="#{cdn}/i/showcase/zebra2.jpeg")
          img(src="#{cdn}/i/showcase/zebra3.jpeg")
          img(src="#{cdn}/i/showcase/zebra4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/polygen.jpg")
      .app-info
        h2 PolyGen - Polygon Wallpaper Generator
        .app-author by <a href="https://itunes.apple.com/us/artist/bartlomiej-niemtur/id873021586" target="_blank">Bartlomiej Niemtur</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944?ls=1&mt=8", target="_blank").appstore-button
        .app-about
          p Would you like to have a new, fresh wallpaper? Something modern that still goes well with flat art style and blurry iOS backgrounds?
          p Meet PolyGen, the app for generating polygon-like wallpapers. Minimal, fresh and pretty, it will bring new life to your phone. Take a look at the screenshots and see on your own!
          p PolyGen app generates wallpapers randomly, according to a special formula. This way you can have your own unique pattern.

          p Install it and browse through as many backgrounds as you like. Choose your unique design and enjoy a refreshed look of your phone.

        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/polygen1.jpeg")
          img(src="#{cdn}/i/showcase/polygen2.jpeg")
          img(src="#{cdn}/i/showcase/polygen3.jpeg")
          img(src="#{cdn}/i/showcase/polygen4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/datin.jpg")
      .app-info
        h2 Datingher.dk - Gratis dating
        .app-author by <a href="https://itunes.apple.com/no/artist/blerim-cazimi/id803948414" target="_blank">Blerim Cazimi</a>
        .app-links
          p
            a(href="https://itunes.apple.com/no/app/datingher.dk/id902047665", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.blerim.datingherdk", target="_blank").google-button
        .app-about
          p Dating App. Available for Denmark, Sweden and Norway.
          p App Features:
          ul
            li Chat (user recevies a push-notification, when getting a new message)
            li Users nearby (like tinder)
            li Upload images from your photo-album or from your camera directly to your gallery
            li And many more...

        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/datin1.jpeg")
          img(src="#{cdn}/i/showcase/datin2.jpeg")
          img(src="#{cdn}/i/showcase/datin3.jpeg")
          img(src="#{cdn}/i/showcase/datin4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/puzzle.jpg")
      .app-info
        h2 Invert Puzzle
        .app-author by <a href="http://notengoganasdetrabajar.com/" target="_blank">Carlos Villuendas Zambrana</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/invert-puzzle/id903140561", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.carlosvillu.invert", target="_blank").google-button
        .app-about
          p Interesting Inverter Puzzle game where start is very simple and very fast, but only the best will be able to beat level 5, and there are 20!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/puzzle1.jpeg")
          img(src="#{cdn}/i/showcase/puzzle2.jpeg")
          img(src="#{cdn}/i/showcase/puzzle3.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/euro.jpg")
      .app-info
        h2 Eurosceptic
        .app-author by <a href="https://itunes.apple.com/gb/artist/jeff-maynard/id320977741" target="_blank">Jeff Maynard</a>
        .app-links
            a(href="https://itunes.apple.com/gb/app/eurosceptic/id774790361", target="_blank").appstore-button
        .app-about
          p Eurosceptic is the complete, mobile repository of information about the European Union and Britain's relationship with it. If you've ever fallen into an argument in the pub about Britain's place in the EU but couldn't quite come up with any figures or examples to back up your argument, this app is all you need.
          p App Features:
          ul
            li How and why EFTA countries are better off.
            li A 'Frequently Asked Questions' section includes general material about the EU institutions, the EU structure and definitions of common terms.
            li A detailed profile is provided for each EU Member State.
            li Quotations about Europe and/or the EU from luminaries of all ages (including statesmen, philosophers, politicians, business leaders, personalities and more).
            li And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/euro1.jpeg")
          img(src="#{cdn}/i/showcase/euro2.jpeg")
          img(src="#{cdn}/i/showcase/euro3.jpeg")
          img(src="#{cdn}/i/showcase/euro4.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="#{cdn}/i/showcase/dmx.png")
      .app-info
        h2 DMXzone Extension Manager for Dreamweaver
        .app-author by <a href="http://www.dmxzone.com/" target="_blank">DMXzone</a>
        .app-links
          p
            a(href="http://www.dmxzone.com/go/22670/dmxzone-extension-manager-for-dreamweaver", target="_blank").button App Website
        .app-about
          p DMXzone Extension Manager for Dreamweaver is a stand-alone desktop application from a new generation that will make your life easier. In a blink of an eye you can install, update and manage your extensions and templates for any Dreamweaver version above Dreamweaver 8.

          p App Features:
          ul
            li Fully blown stand-alone app for the greatest experience
            li Includes a special Windows and Mac OSX installer
            li Full support for all Dreamweaver versions
            li Super fast installation of extensions
            li Download and install multiple extensions and templates
            li Automatic install of updates
            li Explore new and existing extensions and templates
            li And many more...

        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/dmx1.png")
          img(src="#{cdn}/i/showcase/dmx2.png")
          img(src="#{cdn}/i/showcase/dmx3.png")
          img(src="#{cdn}/i/showcase/dmx4.png")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="#{cdn}/i/showcase/history.jpg")
      .app-info
        h2 History for iOS
        .app-author by <a href="http://www.matthewball.me/" target="_blank">Matthew Ball</a>
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/history-for-ios/id879016024", target="_blank").appstore-button
            a(href="https://twitter.com/HistoryforiOS", target="_blank").button App Website
        .app-about
          p History for iOS is the App Store's top resource for everything iOS. The app contains in-depth information on every iOS release Apple has pushed to the public. The app includes a news tab containing the latest iOS related updates, as well as a page displaying the current iOS firmware version.
          p App Features:
          ul
            li In-depth information on every iOS version ever released
            li Latest iOS related news and updates
            li View the newest firmware version pushed out by Apple
            li Optimized for iOS 7

        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/history1.jpeg")
          img(src="#{cdn}/i/showcase/history2.jpeg")
          img(src="#{cdn}/i/showcase/history3.jpeg")
          img(src="#{cdn}/i/showcase/history4.jpeg")
      .clearfix
    .app
      .app-icon
        img(src="#{cdn}/i/showcase/gunluc.png")
      .app-info
        h2 Günlük Burç (Astroloji)
        .app-author by <a href="http://3unlem.com/" target="_blank">Osman ERDOĞAN</a>
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.unlem.gunlukburc", target="_blank").google-button
            a(href="https://itunes.apple.com/us/app/gunluk-burc-astroloji/id791352919", target="_blank").appstore-button
            a(href="http://3unlem.com/", target="_blank").button App Website
        .app-about
          p Turkey's best astrology application. Famous Astrologers are updated daily horoscope.
          p App Features:
          ul
            li Horoscope
            li Sign the love of harmony
            li Rising all the details about your horoscope
            li Attractive aspects and features of your horoscope
            li Features of your horoscope and stone
            li Special perfume suggestions about your horoscope
            li In addition, special dietary recommendations of your horoscope

        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="#{cdn}/i/showcase/gunluc1.png")
          img(src="#{cdn}/i/showcase/gunluc2.png")
          img(src="#{cdn}/i/showcase/gunluc3.png")
      .clearfix

block scripts
  <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1l3voeJ']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
