extends _layout
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Multiple Sliders
              .right 
          .page-content
            .content-block-title 1 Slide Per View, 50px Between
            .slider-container.slider-1
              .slider-pagination
              .slider-wrapper
                - for (var i = 1; i < 11; i++)
                  .slider-slide <span>Slide #{i}</span>

            .content-block-title 2 Slides Per View, 20px Between
            .slider-container.slider-2
              .slider-pagination
              .slider-wrapper
                - for (var i = 1; i < 11; i++)
                  .slider-slide <span>Slide #{i}</span>

            .content-block-title 3 Slides Per View, 10px Between
            .slider-container.slider-3
              .slider-pagination
              .slider-wrapper
                - for (var i = 1; i < 11; i++)
                  .slider-slide <span>Slide #{i}</span>

            .content-block-title Vertical, 0px Between
            .slider-container.slider-vertical
              .slider-pagination
              .slider-wrapper
                - for (var i = 1; i < 6; i++)
                  .slider-slide <span>Slide #{i}</span>

            .content-block-title Slow speed
            .slider-container.slider-slow
              .slider-pagination
              .slider-wrapper
                - for (var i = 1; i < 11; i++)
                  .slider-slide <span>Slide #{i}</span>


block scripts
  style.
    .slider-slide {
      background: #fff;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
    .slider-slide span {
      text-align:center;
      display:block;
      margin: 20px;
      font-size:21px;
    }
    .slider-container {
      height: 120px;
      margin: 35px 0;
    }
  script.
    var myApp = new Framework7(); 

    // 1 Slide Per View, 50px Between
    var mySlider1 = myApp.slider('.slider-1', {
      pagination:'.slider-1 .slider-pagination',
      spaceBetween: 50
    });

    // 2 Slides Per View, 20px Between
    var mySlider2 = myApp.slider('.slider-2', {
      pagination:'.slider-2 .slider-pagination',
      spaceBetween: 20,
      slidesPerView: 2
    });

    // 3 Slides Per View, 10px Between
    var mySlider3 = myApp.slider('.slider-3', {
      pagination:'.slider-3 .slider-pagination',
      spaceBetween: 10,
      slidesPerView: 2
    });

    // Vertical, 0px Between
    var mySliderVertical = myApp.slider('.slider-vertical', {
      pagination:'.slider-vertical .slider-pagination',
      direction: 'vertical'
    });

    // Slow speed
    var mySliderSlow = myApp.slider('.slider-slow', {
      pagination:'.slider-slow .slider-pagination',
      speed: 600
    });
    

    