extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Card Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Card Vue Component
    ul.docs-index
    p Cards, along with List View, is a one more great way to contain and orginize your information. Cards contains unique related data, for example, a photo, text, and link all about a single subject. Cards are typically an entry point to more complex and detailed information.
    p Card Vue component represents <a href="../docs/cards.html">Cards</a> component.
    h2 Card Components
    p There are following components included:
    ul
      li <code><b>f7-card</b></code>
      li <code><b>f7-card-header</b></code>
      li <code><b>f7-card-content</b></code>
      li <code><b>f7-card-footer</b></code>
    h2 Card Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-card&gt; properties
        tr
          td title
          td string
          td
          td Card header content
        tr
          td content
          td string
          td
          td Card content
        tr
          td footer
          td string
          td
          td Card footer content
        tr
          td padding
          td boolean
          td true
          td Adds additional inner padding on card content
        tr
          td outline
          td boolean
          td false
          td Makes Card outline
        tr
          th(colspan="4") &lt;f7-card-content&gt; properties
        tr
          td padding
          td boolean
          td true
          td Adds additional inner padding
    .with-device
      h2(data-device-preview="../docs-demos/vue/cards.html") Examples
      :code(lang="html")
            <f7-block-title>Simple Cards</f7-block-title>
            <f7-card
              content="This is a simple card with plain text, but cards can also contain their own header, footer, list view, image, or any other element."
            ></f7-card>
            <f7-card
              title="Card header"
              content="Card with header and footer. Card headers are used to display card titles and footers for additional information or just for custom actions."
              footer="Card footer"
            ></f7-card>
            <f7-card
              content="Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. "
            ></f7-card>

            <f7-block-title>Outline Cards</f7-block-title>
            <f7-card
              outline
              content="This is a simple card with plain text, but cards can also contain their own header, footer, list view, image, or any other element."
            ></f7-card>
            <f7-card
              outline
              title="Card header"
              content="Card with header and footer. Card headers are used to display card titles and footers for additional information or just for custom actions."
              footer="Card footer"
            ></f7-card>
            <f7-card
              outline
              content="Another card. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat sem est, non tincidunt ligula volutpat sit amet. Mauris aliquet magna justo. "
            ></f7-card>

            <f7-block-title>Styled Cards</f7-block-title>
            <f7-card class="demo-card-header-pic">
              <f7-card-header
                class="no-border"
                valign="bottom"
                style="background-image:url(http://lorempixel.com/1000/600/nature/3/)"
              >Journey To Mountains</f7-card-header>
              <f7-card-content>
                <p class="date">Posted on January 21, 2015</p>
                <p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
              </f7-card-content>
              <f7-card-footer>
                <f7-link>Like</f7-link>
                <f7-link>Read more</f7-link>
              </f7-card-footer>
            </f7-card>
            <f7-card class="demo-card-header-pic">
              <f7-card-header
                class="no-border"
                valign="bottom"
                style="background-image:url(http://lorempixel.com/1000/600/people/6/)"
              >Journey To Mountains</f7-card-header>
              <f7-card-content>
                <p class="date">Posted on January 21, 2015</p>
                <p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
              </f7-card-content>
              <f7-card-footer>
                <f7-link>Like</f7-link>
                <f7-link>Read more</f7-link>
              </f7-card-footer>
            </f7-card>

            <f7-block-title>Facebook Cards</f7-block-title>
            <f7-card class="demo-facebook-card">
              <f7-card-header class="no-border">
                <div class="demo-facebook-avatar"><img src="http://lorempixel.com/68/68/people/1/" width="34" height="34"/></div>
                <div class="demo-facebook-name">John Doe</div>
                <div class="demo-facebook-date">Monday at 3:47 PM</div>
              </f7-card-header>
              <f7-card-content :padding="false">
                <img src="http://lorempixel.com/1000/700/nature/8/" width="100%"/>
              </f7-card-content>
              <f7-card-footer class="no-border">
                <f7-link>Like</f7-link>
                <f7-link>Comment</f7-link>
                <f7-link>Share</f7-link>
              </f7-card-footer>
            </f7-card>
            <f7-card class="demo-facebook-card">
              <f7-card-header class="no-border">
                <div class="demo-facebook-avatar"><img src="http://lorempixel.com/68/68/people/1/" width="34" height="34"/></div>
                <div class="demo-facebook-name">John Doe</div>
                <div class="demo-facebook-date">Monday at 2:15 PM</div>
              </f7-card-header>
              <f7-card-content>
                <p>What a nice photo i took yesterday!</p><img src="http://lorempixel.com/1000/700/nature/8/" width="100%"/>
                <p class="likes">Likes: 112 &nbsp;&nbsp; Comments: 43</p>
              </f7-card-content>
              <f7-card-footer class="no-border">
                <f7-link>Like</f7-link>
                <f7-link>Comment</f7-link>
                <f7-link>Share</f7-link>
              </f7-card-footer>
            </f7-card>

            <f7-block-title>Cards With List View</f7-block-title>
            <f7-card>
              <f7-card-content :padding="false">
                <f7-list>
                  <f7-list-item link="#">Link 1</f7-list-item>
                  <f7-list-item link="#">Link 2</f7-list-item>
                  <f7-list-item link="#">Link 3</f7-list-item>
                  <f7-list-item link="#">Link 4</f7-list-item>
                  <f7-list-item link="#">Link 5</f7-list-item>
                </f7-list>
              </f7-card-content>
            </f7-card>
            <f7-card title="New Reelases">
              <f7-card-content :padding="false">
                <f7-list medial-list>
                  <f7-list-item
                    title="Yellow Submarine"
                    subtitle="Beatles"
                  >
                    <img slot="media" src="http://lorempixel.com/88/88/fashion/4" width="44"/>
                  </f7-list-item>
                  <f7-list-item
                    title="Don't Stop Me Now"
                    subtitle="Queen"
                  >
                    <img slot="media" src="http://lorempixel.com/88/88/fashion/5" width="44"/>
                  </f7-list-item>
                  <f7-list-item
                    title="Billie Jean"
                    subtitle="Michael Jackson"
                  >
                    <img slot="media" src="http://lorempixel.com/88/88/fashion/6" width="44"/>
                  </f7-list-item>
                </f7-list>
              </f7-card-content>
              <f7-card-footer>
                <span>January 20, 2015</span>
                <span>5 comments</span>
              </f7-card-footer>
            </f7-card>