extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Checkbox Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Checkbox Vue Component
    ul.docs-index
    p Checkbox Vue component represents <a href="../docs/checkbox.html">Checkbox</a> component.
    h2 Checkbox Components
    p There are following components included:
    ul
      li <code><b>f7-checkbox</b></code>
    h2 Checkbox Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-checkbox&gt; properties
        tr
          td checked
          td boolean
          td
          td Defines whether the checkbox input is checked or not
        tr
          td name
          td string<br>number
          td
          td Checkbox input name
        tr
          td value
          td string<br>number<br>boolean
          td
          td Checkbox input value
        tr
          td disabled
          td boolean
          td
          td Defines whether the checkbox input is disabled
        tr
          td readonly
          td boolean
          td
          td Defines whether the checkbox input is readonly
    h2 Checkbox Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-checkbox&gt; events
        tr
          td change
          td Event will be triggered when checkbox state changed
    h2 Checkboxes List
    p Checkboxes List is not a separate component, but just a particular case of using <code><a href="list-view.html">&lt;f7-list&gt;</a></code>, <code><a href="list-item.html">&lt;f7-list-item&gt;</a></code>.
    :code(lang="html")
          <f7-list>
            <!-- Additional "checkbox" prop to enable checkbox list item -->
            <f7-list-item checkbox value="check_1" checked title="Checkbox 1"></f7-list-item>
            <f7-list-item checkbox value="check_2" title="Checkbox 2"></f7-list-item>
          </f7-list>
    h2 Checkbox v-model
    p <code>v-model</code> <b>is not supported</b> on Checkbox vue component. Instead, just use the combination of <code>checked</code> property and <code>@change</code> event:
    :code(lang="html")
          <template>
            <!-- With boolean value -->
            <f7-checkbox :checked="jobIsDone" @change="jobIsDone = $event.target.checked"></f7-checkbox>

            <!-- With array value -->
            <f7-checkbox
              value="banana"
              :checked="fruits.indexOf('banana') >= 0"
              @change="checkFruits"
            ></f7-checkbox>

            <f7-checkbox
              value="orange"
              :checked="fruits.indexOf('orange') >= 0"
              @change="checkFruits"
            ></f7-checkbox>

            <f7-checkbox
              value="apple"
              :checked="fruits.indexOf('apple') >= 0"
              @change="checkFruits"
            ></f7-checkbox>
          </template>
          <script>
            export default {
              data() {
                return {
                  jobIsDone: false,
                  fruits: [],
                };
              },
              methods: {
                checkFruits(event) {
                  const self = this;
                  const value = event.target.value;
                  if (event.target.checked) {
                    self.fruits.push(value);
                  } else {
                    self.fruits.splice(self.fruits.indexOf(value), 1);
                  }
                },
              },
            };
          </script>
    .with-device
      h2(data-device-preview="../docs-demos/vue/checkbox.html") Examples
      :code(lang="html")
            <f7-block-title>Inline</f7-block-title>
            <f7-block strong>
              <p>Lorem <f7-checkbox name="checkbox-1"></f7-checkbox> ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae illo nihil aut eius commodi sint eveniet aliquid eligendi <f7-checkbox name="checkbox-2" checked></f7-checkbox> ad delectus impedit tempore nemo, enim vel praesentium consequatur nulla mollitia!</p>
            </f7-block>

            <f7-block-title>Checkbox Group</f7-block-title>
            <f7-list>
              <f7-list-item checkbox title="Books" name="demo-checkbox" checked></f7-list-item>
              <f7-list-item checkbox title="Movies" name="demo-checkbox"></f7-list-item>
              <f7-list-item checkbox title="Food" name="demo-checkbox"></f7-list-item>
              <f7-list-item checkbox title="Drinks" name="demo-checkbox"></f7-list-item>
            </f7-list>

            <f7-block-title>With Media Lists</f7-block-title>
            <f7-list media-list>
              <f7-list-item
                checkbox
                checked
                name="demo-media-checkbox"
                title="Facebook"
                after="17:14"
                subtitle="New messages from John Doe"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
              ></f7-list-item>
              <f7-list-item
                checkbox
                name="demo-media-checkbox"
                title="John Doe (via Twitter)"
                after="17:11"
                subtitle="John Doe (@_johndoe) mentioned you on Twitter!"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
              ></f7-list-item>
              <f7-list-item
                checkbox
                name="demo-media-checkbox"
                title="Facebook"
                after="16:48"
                subtitle="New messages from John Doe"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
              ></f7-list-item>
              <f7-list-item
                checkbox
                name="demo-media-checkbox"
                title="John Doe (via Twitter)"
                after="15:32"
                subtitle="John Doe (@_johndoe) mentioned you on Twitter!"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
              ></f7-list-item>
            </f7-list>
