extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'List Item Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 List Item Vue Component
    .docs-index

    h2 List Item Components
    p There are following components included:
    ul
      li <code><b>f7-list-item</b></code> - main list item element
      li <code><b>f7-list-item-row</b></code> - list item row element for custom layout
      li <code><b>f7-list-item-cell</b></code> - list item cell element for custom layout

    h2 List Item Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-list-item&gt; properties
        tr
          td title
          td string
          td
          td List item title
        tr
          td subtitle
          td string
          td
          td List item subtitle (only for Media List)
        tr
          td text
          td string
          td
          td List item text (only for Media List)
        tr
          td header
          td string
          td
          td List item header text
        tr
          td footer
          td string
          td
          td List item footer text
        tr
          td media
          td string
          td
          td List item media image URL
        tr
          td after
          td string
          td
          td List item label
        tr
          td badge
          td string<br>number
          td
          td List item Badge
        tr
          td badge-color
          td string
          td
          td List item Badge color. One of the <a href="../docs/color-themes.html">default colors</a>
        tr
          td media-item
          td boolean
          td
          td Enables Media list item for the current list item
        tr
          td divider
          td boolean
          td
          td Converts list item to list item divider
        tr
          td group-title
          td boolean
          td
          td Converts list item to list group title
        tr
          td no-fast-click
          td boolean
          td
          td Disables fast click
        tr
          td target
          td boolean
          td
          td List item link target attribute
        tr
          th(colspan="4") &lt;f7-list-item&gt; Form inputs specific properties
        tr
          td inline-label
          td boolean
          td false
          td Enables inline-styled labels for <a href="inputs.html">Form Inputs</a>. By default inherirt <code>inline-labels</code> prop on parent <code>&lt;f7-list&gt;</code>
        tr
          td item-input
          td boolean
          td false
          td Enables additional styling for <a href="inputs.html">Form Inputs</a> inside. By default will try to detect based on content
        tr
          td item-input-with-info
          td boolean
          td false
          td Enables additional styling for <a href="inputs.html">Form Inputs</a> with additional info. By default will try to detect based on content
        tr
          th(colspan="4") &lt;f7-list-item&gt; Swipeout specific properties
        tr
          td swipeout
          td boolean
          td
          td Converts list item to <a href="swipeout.html">swipeout list item</a>
        tr
          th(colspan="4") &lt;f7-list-item&gt; Accordion specific properties
        tr
          td accordion-item
          td boolean
          td false
          td Converts list item to <a href="accordion.html">accordion list item</a>
        tr
          td accordion-item-opened
          td boolean
          td false
          td Makes accordion item opened
        tr
          th(colspan="4") &lt;f7-list-item&gt; Smart Select specific properties
        tr
          td smart-select
          td boolean
          td false
          td Enables Smart Select behavior
        tr
          td smart-select-params
          td object
          td
          td Object with <a href="../docs/smart-select.html#smart-select-parameters">Smart Select Parameters</a>
        tr
          th(colspan="4") &lt;f7-list-item&gt; Checkboxes & Radios specific properties
        tr
          td checkbox
          td boolean
          td false
          td Enables checkbox-item
        tr
          td radio
          td boolean
          td false
          td Enables radio-item
        tr
          td checked
          td boolean
          td false
          td Whether the checkbox/radio input is checked
        tr
          td name
          td string
          td
          td Checkbox/radio input name
        tr
          td value
          td string<br>number
          td
          td Checkbox/radio input value
        tr
          td readonly
          td boolean
          td false
          td Whether the checkbox/radio input is readonly
        tr
          td disabled
          td boolean
          td false
          td Whether the checkbox/radio input is disabled
        tr
          td required
          td boolean
          td false
          td Whether the checkbox/radio input is required
        tr
          th(colspan="4") &lt;f7-list-item&gt; navigation/router related properties
        tr
          td link
          td boolean<br>string
          td
          td Enables link and link URL if specified as string. Same as <code>href</code> prop
        tr
        +vueLinkRouterProps

    h2 List Item Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-list-item&gt; events
        tr
          td click
          td Event will be triggeres when user clicks on list item
        tr
          td change
          td Event will be triggeres when "change" event occurs on list item input (radio or checkbox)
        tr
          td swipeout
          td Event will be triggered while you move swipeout element. <b>event.detail.progress</b> contains current opened progress percentage
        tr
          td swipeout:open
          td Event will be triggered when swipeout element starts its opening animation
        tr
          td swipeout:opened
          td Event will be triggered after swipeout element completes its opening animation
        tr
          td swipeout:close
          td Event will be triggered when swipeout element starts its closing animation
        tr
          td swipeout:closed
          td Event will be triggered after swipeout element completes its closing animation
        tr
          td swipeout:delete
          td Event will be triggered after swipeout element starts its delete animation
        tr
          td swipeout:deleted
          td Event will be triggered after swipeout element completes its delete animation right before it will be removed from DOM
        tr
          td accordion:open
          td Event will be triggered when accordion content starts its opening animation.
        tr
          td accordion:opened
          td Event will be triggered after accordion content completes its opening animation.
        tr
          td accordion:close
          td Event will be triggered when accordion content starts its closing animation.
        tr
          td accordion:closed
          td Event will be triggered after accordion content completes its closing animation.

    h2 List Item Slots
    p List Item Vue component (<code>&lt;f7-list-item&gt;</code>) has additional slots for custom elements:
    ul
      li <code><b>root-start</b></code> - element will be inserted in the beginning of <code>&lt;li&gt;</code> element
      li <code><b>root</b></code> / <code><b>root-end</b></code> - element will be inserted in the end of <code>&lt;li&gt;</code> element
      li <code><b>content-start</b></code> - element will be inserted in the beginning of <code>&lt;div class="item-content"&gt;</code> element
      li <code><b>content</b></code> / <code><b>content-end</b></code> - element will be inserted in the end of <code>&lt;div class="item-content"&gt;</code> element
      li <code><b>inner-start</b></code> - element will be inserted in the beginning of <code>&lt;div class="item-inner"&gt;</code> element
      li <code><b>default</b></code> / <code><b>inner</b></code> / <code><b>inner-end</b></code> - element will be inserted in the end of <code>&lt;div class="item-inner"&gt;</code> element
      li <code><b>media</b></code> - element will be inserted inside of <code>&lt;div class="item-media"&gt;</code> element
      li <code><b>before-title</b></code> - element will be inserted before <code>&lt;div class="item-title"&gt;</code> element
      li <code><b>title</b></code> - element will be inserted inside of <code>&lt;div class="item-title"&gt;</code> element
      li <code><b>after-title</b></code> - element will be inserted after <code>&lt;div class="item-title"&gt;</code> element
      li <code><b>subtitle</b></code> - element will be inserted inside of <code>&lt;div class="item-subtitle"&gt;</code> element
      li <code><b>text</b></code> - element will be inserted inside of <code>&lt;div class="item-text"&gt;</code> element
      li <code><b>header</b></code> - element will be inserted inside of <code>&lt;div class="item-header"&gt;</code> element
      li <code><b>footer</b></code> - element will be inserted inside of <code>&lt;div class="item-footer"&gt;</code> element
      li <code><b>after-start</b></code> - element will be inserted in the beginning of <code>&lt;div class="item-after"&gt;</code> element
      li <code><b>after</b></code> / <code><b>after-end</b></code> - element will be inserted in the end of <code>&lt;div class="item-after"&gt;</code> element
    pre
      code.html
        :code
          <f7-list media-list>
            <f7-list-item
              link="/home/"
              title="Item Title"
              subtitle="Item Subtitle"
              text="Text"
              after="Read more"
              >
                <img src="path-to-my-image.jpg" slot="media">
                <div slot="root-start">Root Start</div>
                <div slot="root">Root End</div>
                <div slot="content-start">Content Start</div>
                <div slot="content">Content End</div>
                <div slot="media-start">Media Start</div>
                <div slot="media">Media</div>
                <span slot="after-start">After Start</span>
                <span slot="after">After End</span>
                <div slot="inner-start">Inner Start</div>
                <div slot="inner">Inner End</div>
                <div slot="before-title">Before Title</div>
                <div slot="after-title">After Title</div>
            </f7-list-item>
          </f7-list>

          <!-- Renders to: -->

          <div class="list media-list">
            <ul>
              <li>
                <div>Root Start</div>
                <a href="/home/" class="item-link">
                  <div class="item-content">
                    <div>Content Start</div>
                    <div class="item-media">
                      <img src="path-to-my-image.jpg">
                    </div>
                    <div class="item-inner">
                      <div>Inner Start</div>
                      <div class="item-title-row">
                        <div>Before Title</div>
                        <div class="item-title">Item Title</div>
                        <div>After Title</div>
                        <div class="item-after">
                          <span>After Start</span>
                          <span>Read more</span>
                          <span>After End</span>
                        </div>
                      </div>
                      <div class="item-subtitle">Item Subtitle</div>
                      <div class="item-text">Text</div>
                      <div>Inner End</div>
                    </div>
                    <div>Content End</div>
                  </div>
                </a>
                <div>Root End</div>
              </li>
            </ul>
          </div>

    h2 Examples
    h4 Minimal Layout
    pre.html
      code
        :code
          <f7-list>
            <f7-list-item title="Item 1"></f7-list-item>
            <f7-list-item title="Item 2"></f7-list-item>
          </f7-list>
          <!-- Renders to: -->


          <div class="list">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">Item 1</div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">Item 2</div>
                </div>
              </li>
            </ul>
          </div>

    h4 With Badges And Divider
    pre
      code.html
        :code
          <f7-list>
            <f7-list-item title="Item 1" badge="5" badge-color="red"></f7-list-item>
            <f7-list-item title="Item 2" badge="3" badge-color="red"></f7-list-item>
            <f7-list-item title="Items Divider" divider></f7-list-item>
            <f7-list-item title="Item 3"></f7-list-item>
            ...
          </f7-list>

          <!-- Renders to: -->

          <div class="list">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">Item 1</div>
                  <div class="item-after">
                    <span class="badge color-red">5</span>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">Item 2</div>
                  <div class="item-after">
                    <span class="badge color-red">3</span>
                  </div>
                </div>
              </li>
              <li class="item-divider"><span>Items Divider</span></li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">Item 3</div>
                </div>
              </li>
            </ul>
          </div>
    h4 Links Items
    pre
      code.html
        :code
          <f7-list>
            <f7-list-item link="/about/" title="About"></f7-list-item>
            <f7-list-item link="/contacts/" title="Contacts"></f7-list-item>
          </f7-list>

          <!-- Renders to: -->

          <div class="list">
            <ul>
              <li>
                <a href="/about/" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">About</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/contacts/" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Contacts</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
    h4 Media List Items
    pre
      code.html
        :code
          <f7-list media-list>
            <f7-list-item
              link="/item/"
              media="path/to/image.jpg"
              title="Item Title"
              subtitle="Item Subtitle"
              text="Some text"
              after="Read more"
            ></f7-list-item>
          </f7-list>

          <!-- Renders to: -->

          <div class="list media-list">
            <ul>
              <li>
                <a href="/item/" class="item-link">
                  <div class="item-content">
                    <div class="item-media">
                      <img src="path/to/image.jpg">
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Item Title</div>
                        <div class="item-after">Read more</div>
                      </div>
                      <div class="item-subtitle">Item Subtitle</div>
                      <div class="item-text">Some text</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
    h4 Custom Table-like Elements
    pre
      code.html
        :code
          <f7-list-item>
            <f7-list-item-cell>
              <f7-list-item-row>
                <f7-list-item-cell>Cell 1-1</f7-list-item-cell>
                <f7-list-item-cell>Cell 1-2</f7-list-item-cell>
                <f7-list-item-cell>Cell 1-3</f7-list-item-cell>
              </f7-list-item-row>
              <f7-list-item-row>
                <f7-list-item-cell>Cell 2-1</f7-list-item-cell>
                <f7-list-item-cell>Cell 2-2</f7-list-item-cell>
              </f7-list-item-row>
              <f7-list-item-row>
                <f7-list-item-cell>Cell 3-1</f7-list-item-cell>
                <f7-list-item-cell>
                  <f7-list-item-row>
                    Cell 3-2
                  </f7-list-item-row>
                  <f7-list-item-row>
                    Cell 3-3
                  </f7-list-item-row>
                </f7-list-item-cell>
              </f7-list-item-row>
            </f7-list-item-cell>
          </f7-list-item>
