extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Sortable Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Sortable Vue Component
    p Sortable is not a separate component, but just a particular case of using <a href="list-view.html">&lt;f7-list&gt;</a> and <a href="list-item.html">&lt;f7-list-item&gt;</a> components.
    h2 Sortable Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
        th(colspan="2") &lt;f7-list&gt; events
          br
          small The following events will be available on &lt;f7-list&gt; when <code>sortable</code> prop enabled
        tr
          td sortable:enable
          td Event will be triggered when sortable mode is enabled
        tr
          td sortable:disable
          td Event will be triggered when sortable mode is disabled
        tr
          td sortable:sort
          td Event will be triggered after user release currently sorting element in new position. <code>event.detail</code> will contain object with <code>from</code> and <code>to</code> properties with start/new index numbers of sorted list item
    .with-device
      h2(data-device-preview="../docs-demos/vue/sortable.html") Examples
      :code
            <template>
              <f7-page>
                <f7-navbar title="Sortable List">
                  <f7-nav-right>
                    <f7-link sortable-toggle=".sortable">Toggle</f7-link>
                  </f7-nav-right>
                </f7-navbar>

                <f7-block>
                  <p>Just click "Toggle" button on navigation bar to enable/disable sorting</p>
                </f7-block>
                <f7-list sortable @sortable:sort="onSort">
                  <f7-list-item
                    title="1 Jenna Smith"
                    after="CEO">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="2 John Doe"
                    after="Director">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="3 John Doe"
                    after="Developer">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="4 Aaron Darling"
                    after="Manager">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="5 Calvin Johnson"
                    after="Accounter">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="6 John Smith"
                    after="SEO">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                  <f7-list-item
                    title="7 Chloe"
                    after="Manager">
                    <f7-icon icon="icon-f7" slot="media"></f7-icon>
                  </f7-list-item>
                </f7-list>
                <f7-list media-list sortable @sortable:sort="onSort">
                  <f7-list-item
                    title="Yellow Submarine"
                    after="$15"
                    subtitle="Beatles"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
                    >
                    <img slot="media" src="http://lorempixel.com/160/160/people/1" width="80" />
                  </f7-list-item>
                  <f7-list-item
                    title="Don't Stop Me Now"
                    after="$22"
                    subtitle="Queen"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
                    >
                    <img slot="media" src="http://lorempixel.com/160/160/people/2" width="80" />
                  </f7-list-item>
                  <f7-list-item
                    title="Billie Jean"
                    after="$16"
                    subtitle="Michael Jackson"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus."
                    >
                    <img slot="media" src="http://lorempixel.com/160/160/people/3" width="80" />
                  </f7-list-item>
                </f7-list>
              </f7-page>
            </template>
            <script>

              export default {
                methods: {
                  onSort(e) {
                    // Sort data
                    console.log(e.target);
                    console.log(e.detail);
                  }
                }
              };
            </script>
