extends ../_internal-template

block vars
  - var activeLink = 'contribute';
  - var title = 'Framework7 Sponsors';

block content
  - var sponsors = getYamlData('sponsors/sponsors.yml');
  h1.text-align-center Framework7 Sponsors
  p.text-align-center.large-text Become Framework7 sponsor by pledging via <a href="https://www.patreon.com/vladimirkharlampidi" target="_blank">Patreon</a>, <a href="/contribute/#donate">donation</a> or <a href="/contribute/">contributing</a> to the project.

  h2.text-align-center Diamond Sponsor
  .sponsors.sponsors-diamond
    if (sponsors.diamond)
      each sponsor in sponsors.diamond
        a.sponsor(href=sponsor.link, target="_blank")
          img(src=sponsor.imageUrl.replace('#{cdn}', cdn), alt=sponsor.title, title=sponsor.title)
    a.sponsor.sponsor-join(href="https://www.patreon.com/bePatron?c=535869&rid=830901", target="_blank") Become Diamond Sponsor

  h2.text-align-center Platinum Sponsor
  .sponsors.sponsors-platinum
    if (sponsors.platinum)
      each sponsor in sponsors.platinum
        a.sponsor(href=sponsor.link, target="_blank")
          img(src=sponsor.imageUrl.replace('#{cdn}', cdn), alt=sponsor.title, title=sponsor.title)
    a.sponsor.sponsor-join(href="https://www.patreon.com/bePatron?c=535869&rid=830876", target="_blank") Become Platinum Sponsor

  h2.text-align-center Gold Sponsor
  .sponsors.sponsors-gold
    if (sponsors.gold)
      each sponsor in sponsors.gold
        a.sponsor(href=sponsor.link, target="_blank")
          img(src=sponsor.imageUrl.replace('#{cdn}', cdn), alt=sponsor.title, title=sponsor.title)
    a.sponsor.sponsor-join(href="https://www.patreon.com/bePatron?c=535869&rid=830877", target="_blank") Become Gold Sponsor

  h2.text-align-center Silver Sponsor
  .sponsors.sponsors-silver
    if (sponsors.silver)
      each sponsor in sponsors.silver
        a.sponsor(href=sponsor.link, target="_blank")
          img(src=sponsor.imageUrl.replace('#{cdn}', cdn), alt=sponsor.title, title=sponsor.title)
    a.sponsor.sponsor-join(href="https://www.patreon.com/bePatron?c=535869&rid=830841", target="_blank") Become Silver Sponsor

  h2.text-align-center Top Supporter
  .sponsors.sponsors-top
    if (sponsors.topSupporter)
      each sponsor in sponsors.topSupporter
        a.sponsor(href=sponsor.link, target="_blank")
          img(src=sponsor.imageUrl.replace('#{cdn}', cdn), alt=sponsor.title, title=sponsor.title)
    a.sponsor.sponsor-join(href="https://www.patreon.com/bePatron?c=535869&rid=830842", target="_blank") Become Top Supporter





