.docs-nav-sponsors(data-sponsors)
  .title
    span Sponsors
    a(href="https://sponsors.nolimits4web.com/" target="_blank") Become a sponsor
  - var sponsors = getSponsors(getJSONData('sponsors/sponsors.json'));
  .docs-nav-sponsors-list
    if (sponsors.goldSponsor)
      each sponsor in sponsors.goldSponsor
        - var goldImage = sponsor.image && sponsor.image.indexOf('http') === 0 ? sponsor.image : '/i/sponsors/' + sponsor.image;
        a.sponsor(href=sponsor.link, target="_blank", rel="sponsored")
          img(src=goldImage, alt=sponsor.title, title=sponsor.title)
    if (sponsors.silverSponsor)
      each sponsor in sponsors.silverSponsor
        - var silverImage = sponsor.image && sponsor.image.indexOf('http') === 0 ? sponsor.image : '/i/sponsors/' + sponsor.image;
        a.sponsor(href=sponsor.link, target="_blank", rel="sponsored")
          img(src=silverImage, alt=sponsor.title, title=sponsor.title)
