doctype
html
  head
    meta(charset="utf-8")
    title Framework7 - Full Featured Mobile HTML Framework For Building iOS & Android Apps
    meta(property="og:image", content=cdn + "/i/f7-banner.jpg")
    meta(name="viewport" content="width=device-width, viewport-fit=cover")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@framework7io")
    meta(name="twitter:creator", content="@framework7io")
    meta(name="twitter:title", content="Framework7")
    meta(name="twitter:description", content="A free and open source mobile HTML framework to develop hybrid mobile apps or web apps with iOS & Android native look and feel")
    meta(name="twitter:image", content="https://avatars0.githubusercontent.com/u/31954178?s=200&v=4")
    link(rel="stylesheet", href=cdn + "/css/normalize.css")
    link(rel="stylesheet", href=cdn + "/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
    script(src=cdn + "/js/modernizr-2.7.1.min.js")
  body
    | <!-- BuySellAds Ad Code -->
    script.
      (function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
           bsa.src = '//s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();
    | <!-- End BuySellAds Ad Code -->
    header.home-header
      .center
        .left
          .logo-title
            .title Framework
            .logo-holder
              .triangle.triangle-1
              .triangle.triangle-2
              .triangle.triangle-3
              .triangle.triangle-4
              a(href="./").logo
          .slogan Full featured HTML framework<br>for building iOS & Android apps
          .buttons-links
            .buttons
              a(href="https://github.com/framework7io/Framework7/releases/", target="_blank") Download
              a(href="/docs/introduction.html") Get Started
            .links
              a(href="/docs/") Docs
              a(href="/templates/") Templates
              a(href="/showcase/") Apps Showcase
              a(href="http://forum.framework7.io") Forum
          include _carbon
          .release-info MIT Licensed, v#{release.version} released on #{release.date}
          .patreon-github
            include _github-buttons
            include _patreon
        .phone
          iframe(src="kitchen-sink/core/?theme=ios", frameborder="0", scrolling="no")
          .statusbar
          .theme-switch
            a(href="kitchen-sink/core/?theme=ios", target="_blank").active
              .theme-icon
                .logo-apple
                span iOS
              .fullscreen
                i
            a(href="kitchen-sink/core/?theme=md", target="_blank")
              .theme-icon
                .logo-android
                span MD
              .fullscreen
                i

    main.center
      .home-block.home-intro
        h1 Framework7
        p Framework7 - is a free and open source mobile HTML framework to develop hybrid mobile apps or web apps with iOS & Android native look and feel. It is also an indispensable prototyping apps tool to show working app prototype as soon as possible in case you need to.
        p The main approach of the Framework7 is to give you an opportunity to create iOS & Android apps with HTML, CSS and JavaScript easily and clear. Framework7 is full of freedom. It doesn't limit your imagination or offer ways of any solutions somehow. Framework7 gives you freedom!
        p Framework7 is not compatible with all platforms. It is focused only on iOS and Google Material design to bring the best experience and simplicity.
        p <strong>Framework7 is definitely for you if you decide to build iOS or Android hybrid app (PhoneGap) or web app that looks like and feels as great native iOS and Google Material apps.</strong>

      .home-block.home-easy-to-use
        .pic
            img(src=cdn + "/i/feats/html.jpg", alt="", height="310")
        .text
          h2 Ultra Easy To Use.<br>Not Harder Than Website!
          p To create iOS apps using Framework7 is so easy as website creation. Try to start and you will be surprised how easy is it. All you need to make it work is a simple HTML layout and attached framework's CSS and JS files! Framework7 doesn't force you to write some custom tags that will be converted by JavaScript to something else. It doesn't force you to write and describe all your content in JavaScript (or JSON). Just plain HTML and you always get exactly the same that you expect to get when you write this HTML.
        .clearfix
      .home-block.home-ios
        .text
          h2 iOS Specific
          p As said above Framework7 is iOS specific framework. From the very beginning it was carefully thought-out to give you easy ways to realize all incredible features from all necessary UI elements visualization to complicated animation and touch interactions that characterize the platform. That is why Framework7 is the only solution to realize precisely pixel-perfect iOS native app's interface.
        .pic
            img(src=cdn + "/i/feats/ios.jpg", alt="")
        .clearfix
      .home-block.home-ios
        .text
          h2 Material Theme
          p Framework7 Material theme was designed according to the official Google Material design specification to bring pixel-perfect Material features - from visual design and colors to interactions and effects. And now, Framework7 will be a great solution to create Android apps with native Material look and feel.
        .pic
            img(src=cdn + "/i/feats/material.jpg", alt="")
        .clearfix
      .home-block.home-ui
        .text
          h2 UI Components
          p Framework7 comes with a bunch of ready to use UI elements and widgets like modals, popup, action sheet, popover, list views, media lists, tabs, side panels, layout grid, preloader (activity indicator), form elements, etc. The awesome point is that you don't need JavaScript at all for the most of mentioned widgets.
        .pic
          img(data-src=cdn + "/i/feats/ui.jpg", alt="").lazy
        .clearfix
      .home-block.home-killer
        h2 Killer Features
        .tab-links
          a(href="#").active Swipe Back
          a(href="#") Swipe Actions
          a(href="#") Dynamic Navbar
          a(href="#") Pull To Refresh
          a(href="#") Messages
        .tabs
          .tab.active
            .pic
              video(src=cdn + "/i/feats/swipeback.mp4", loop, autoplay)
            .text
              h3 Swipe Back
              p One of Framework7' killing feature is supporting of iOS well known swipe back gesture from left border of screen when you want to get to the previous page. It simply works, and works perfectly as you expect it to do. Just swipe from left (or drag with mouse) area of the page to see smooth transition to the previous page. It is not just A-B transition. It really follows your finger with parallax animation while touch!
          .tab
            .pic
              video(src=cdn + "/i/feats/swipeout.mp4", loop)
            .text
              h3 Swipe Actions
              p Do you remember how you swipe left on the message in the Mail app if you want to delete it or mark as read? Yep, Framework7 has totally the same functionality for any list elements, with the same smooth animation and touch interaction!
          .tab
            .pic
              video(src=cdn + "/i/feats/navbar.mp4", loop)
            .text
              h3 Dynamic Navbar
              p As was mentioned already Framework7 makes everything to give you a feel of native iOS app. And one of the significant feature that improves this feeling is the dynamic navigation bar (navbar). You can see how its elements sliding and fading during pages transition and when you swipe back.
          .tab
            .pic
              video(src=cdn + "/i/feats/ptr.mp4", loop)
            .text
              h3 Pull To Refresh
              p Framework7 is probably the first and only framework that has this great feature realized on pure native scrolling! That is why pull to refresh behavior is perfect as possible and works totally equal in many native iOS apps!
          .tab
            .pic
              video(src=cdn + "/i/feats/messages.mp4", loop)
            .text
              h3 Messages
              p Framework7 comes with great realized "messages" widget that you can easily customize and integrate into your app for messaging between users or devices using some realtime sync data service like Pusher or PubNub.
        .clearfix
      .home-block.home-styles
        .text
          h2 Easy To Customize
          p With Framework7 everything is simple, all styles are divided by parts into small <b>.less</b> files, so you can really easy bring your own custom styles to your app.
          p Check out Framework7 iOS & Android apps in <a href="showcase/">Showcase</a> section:
        .pic
          img(src=cdn + "/i/showcase/delights1.jpeg")
          img(src=cdn + "/i/showcase/series72.png")
          img(src=cdn + "/i/showcase/zebra1.jpeg")
          img(src=cdn + "/i/showcase/aquasella1.jpeg")
      .home-block.home-vi
        .pic
          img(src=cdn + "/i/vi-logo.svg", width="320", height="320")
        .text
          h2 Built-in Monetisation
          p Framework7 partnered with <a href="http://vi.ai" target="_blank"><b>vi</b></a> to bring you the best mobile video ad experience on the market. <b>vi</b>'s interstitial ads can be placed into your app experience at your discretion, showing full screen video ads
          p This allows you to easily add video advertising to your Framework7 app and enables you to earn money from your apps right out-of-the-box.
        .clearfix
      .home-block.home-vue-react
        .text
          h1 Use With Vue.js & React.js
          p In addition to vanilla JS library, Framework7 comes with Vue.js & React.js components to bring components-syntax, structured data and data bindings to with power and simplicity of Vue.js & React.js
        .pics
          .pic
            img(src=cdn + "/i/vue-intro.png", style="max-width: 680px; width: 100%")
          .pic
            img(src=cdn + "/i/react-intro.png", style="max-width: 680px; width: 100%")
      .home-block.home-more
        .text
          h2 Many More Features...
        .feats
          .feat
            h3 Native Scrolling
            p It can sound even curious but one of the most important Framework7 feature is that it uses only native scrolling. Moreover - it multiplies its advantages! So you can still have this awesome scrolling with momentum and resistance bounce without any scrolling issues!
          .feat
            h3 Multiple Views (Split View)
            p Framework7 supports unlimited number of different isolated views. And the fun thing is that you can easily control each single view without any line of JavaScript just using "data-view" attribute on links.
          .feat
            h3 Library Agnostic
            p Framework7 doesn't use and does not depend on any third party libraries. That is why it is ultra lightweight, performance and flexible.
          .feat
            h3 Clear JS API
            p No need to learn something new with Framework7. It has ultra clear and easy JavaScript API methods to control every part of your app.
          .feat
            h3 High-performance Animation
            p It is all about performance and Framework7 uses only high performance hardware accelerated css animations and transitions to achieve the best result.
          .feat
            h3 Pages Animation
            p One of the main target of Framework7 is to have native look and feeling of iOS application. And Framework7 is the only framework that solves it and offers 1:1 page animation with smooth parallax effect, changing opacity and shadow when loading new page.
          .feat
            h3 XHR + Caching + History + Preloading
            p This is an unbeatable combination to make your app routing as perfect as possible. Framework7 is ready to route your app pages using XHR (optional) with its own internal methods and internal HTML configurable caching that allow to load pages faster and save a lot of time and traffic for your users! It loads page via Ajax only ones per specified caching period (10 minutes by default), other times it just gets it from memory. It allows to make further requests immediately!
          .feat
            h3 Dom7 - Custom Dom Library
            p As said above Framework7 doesn't use any third party library, even for DOM operation, even jQuery. It has its own custom DOM library that utilizes most edge and high-performance methods for DOM manipulation. You can also use it and you don’t need to learn something new for that, it has the same syntax as well known jQuery library with support of the most popular and widely used methods and jQuery-like chaining.

      .home-block.home-featured
        .center
          h2 Featured iOS Apps Made With Framework7
          .feat-apps
            .feat-app
              a(href="https://itunes.apple.com/us/app/tripline/id417133912", target="_blank").feat-app-icon.feat-app-icon-rounded
                img(src=cdn + "/i/showcase/tripline.jpg")
              a(href="https://itunes.apple.com/us/app/tripline/id417133912", target="_blank").feat-app-title Tripline - Your maps are your stories
              .feat-app-author by
                a(href="https://www.tripline.net/", target="_blank") Tripline, Inc.
            .feat-app
              a(href="https://itunes.apple.com/us/app/brief-customer-messaging/id1248044218?mt=8", target="_blank").feat-app-icon.feat-app-icon-rounded
                img(src=cdn + "/i/showcase/brief.jpg")
              a(href="https://itunes.apple.com/us/app/brief-customer-messaging/id1248044218?mt=8", target="_blank").feat-app-title Brief - Customer messaging
              .feat-app-author by
                a(href="https://letsbrief.com/", target="_blank") Letsbrief AB
            .feat-app
              a(href="https://itunes.apple.com/app/prsm/id989164526?mt=8&uo=8&at=1l3voeJ", target="_blank").feat-app-icon.feat-app-icon-rounded
                img(src=cdn + "/i/showcase/prism.png")
              a(href="https://itunes.apple.com/app/prsm/id989164526?mt=8&uo=8&at=1l3voeJ", target="_blank").feat-app-title PRSM
              .feat-app-author by
                a(href="https://itunes.apple.com/us/developer/daniel-mansfeld/id828424202", target="_blank") Daniel Mansfeld
            .feat-app
              a(href="https://itunes.apple.com/app/monday-delights/id797451618", target="_blank").feat-app-icon.feat-app-icon-rounded
                img(src=cdn + "/i/showcase/delights.jpg")
              a(href="https://itunes.apple.com/app/monday-delights/id797451618", target="_blank").feat-app-title Monday Delights
              .feat-app-author by
                a(href="https://itunes.apple.com/us/artist/yevart/id797451621", target="_blank") Yevart
            .feat-app
              a(href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944", target="_blank").feat-app-icon.feat-app-icon-rounded
                img(src=cdn + "/i/showcase/polygen.jpg")
              a(href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944", target="_blank").feat-app-title PolyGen
              .feat-app-author by
                a(href="https://itunes.apple.com/us/artist/bartlomiej-niemtur/id873021586", target="_blank") Bartlomiej Niemtur
          p More apps in <a href="showcase/">Showcase</a>
      .home-block.home-free
        .text
          h2 And It Is Free
          p Framework7 is completely free and open-source (MIT Licensed)
          p
            a(href="https://github.com/framework7io/framework7/releases/", target="_blank") Download
            a(href="./docs/introduction.html") Get Started With Framework7
            a(href="./docs/") Documentation
            a(href="./contribute/") Contribute
      .home-block.home-products
        h2 More Great Products By iDangero.us
        .more-products
          a(href="http://idangero.us/swiper/").product
            img(src=cdn + "/i/logo-swiper.png")
            .title
              span Swiper
            .text Most Modern Mobile Touch Slider
          a(href="http://idangero.us/template7/").product
            img(src=cdn + "/i/logo-t7.png")
            .title
              span Template7
            .text Mobile-first JavaScript Template Engine
          .clearfix
    footer
      .center
        include _footer
    script.
    script(src=cdn + "/js/jquery-1.11.0.min.js")
    script(src=cdn + "/js/main.js")
    script.
      var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1l3voeJ']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74282934-1', 'auto');
      ga('send', 'pageview');

