extends ../src/jade/_internal-template

block vars
  - var activeLink = 'react';
  - var title = 'Virtual List React Component | Framework7 React Documentation';

block content
  .docs-wrap
    .docs-nav
      include ./_docs-react-menu
    .docs-content
      h1 Virtual List React Component
      p Virtual List is not a separate component, but just a particular case of using <a href="list.html">&lt;List&gt;</a>, <a href="list-item.html">&lt;ListItem&gt;</a> React components and special Framework7's <a href="../docs/virtual-list.html">Virtual List</a> component.
      h2 Usage example
      p Here is the full page example with Virtual List and Search Bar to search through Virtual List items:
      pre
        code
          :code
            ...
            ...

            constructor() {
              super();
              let defaultItems = this.getVirtualListPageDefaultState();

              this.state = {
                items: defaultItems
              };
            }

            render() {
              return (
                <Page>
                  <Navbar backLink="Back" title="Searchbar" sliding>
                    <NavRight>
                      <Link onClick={this.addNewItem.bind(this)}>New Item</Link>
                    </NavRight>
                  </Navbar>
                  <Searchbar cancelLink="Cancel" searchList="#search-list"></Searchbar>
                  <ContentBlock>
                    <p>Virtual List allows to render lists with huge amount of elements without loss of performance. And it is fully compatible with all Framework7 list components such as Search Bar, Infinite Scroll, Pull To Refresh, Swipeouts (swipe-to-delete) and Sortable.</p>
                    <p>{`Here is the example of virtual list with 10,000 items: ${this.state.items.length}`}</p>
                  </ContentBlock>
                  <List className="searchbar-not-found">
                    <ListItem title="Nothing found" />
                  </List>
                  <List
                    id="search-list"
                    className="searchbar-found"
                    mediaList
                    virtual
                    virtualItems={this.state.items}
                    virtualHeight={63}
                    virtualSearchAll={this.searchAll}>
                    <Template7Template>
                      <ListItem mediaItem link="#" title={"{{title}}"} subtitle={"{{subtitle}}"} />
                    </Template7Template>
                  </List>
                </Page>
              );
            }

            private addNewItem() {
              let newItem: IVirtualListItem = {
                title: `Item ${this.state.items.length +1 }`,
                subtitle: `Subtitle ${this.state.items.length + 1}`
              };

              this.setState({
                items: [
                  ...this.state.items,
                  newItem
                ]
              });
            }

            private searchAll(query, items) {
              let found = [];

              for (let i = 0; i < items.length; i++) {
                if (items[i].title.indexOf(query) >= 0 || query.trim() === '') {
                  found.push(i);
                }
              }

              return found;
            }

            private getVirtualListPageDefaultState() {
              let items: IVirtualListItem[] = [];

              for (let i = 1; i <= 10000; i++) {
                items.push({
                  title: 'Item ' + i,
                  subtitle: 'Subtitle ' + i
                })
              }       

              return items;
            }

            ...
            ...

      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            th(colspan="4") &lt;List&gt; <a href="virtual-list.html">Virtual List</a> specific properties
          tr
            td virtual
            td boolean
            td
            td Enables Virtual List
          tr
            td virtual-init
            td boolean
            td true
            td Initializes Virtual List
          tr
            td virtual-items
            td array/object
            td
            td Array with list items
          tr
            td virtual-height
            td number/function
            td
            td If <b>number</b> - item height in px. If <b>function</b> then function should return item height
          tr
            td virtual-rows-before
            td number
            td
            td Amount of rows (items) to be rendered before current screen scroll position. By default it is equal to double amount of rows (items) that fit to screen
          tr
            td virtual-rows-after
            td number
            td
            td Amount of rows (items) to be rendered after current screen scroll position. By default it is equal to the amount of rows (items) that fit to screen
          tr
            td virtual-cols
            td number
            td 1
            td Number of items per row. Doesn't compatible when using Virtual List with dynamic height
          tr
            td virtual-cache
            td boolean
            td true
            td Disable or enable DOM cache for already rendered list items. In this case each item will be rendered only once and all futher manipulations will be with DOM element. It is useful if your list items have some user interaction elements (like form elements or swipe outs) or could be modified
          tr
            td virtual-filtered-only
            td boolean
            td false
            td Option to show filtered items only set by `filter()` method
          tr
            td virtual-search-by-item
            td function(query, index, item)
            td
            td Search function that will be used by Search Bar, it receives search query, item index and item itself. If item matches to search query you need to return <code>true</code>, otherwise this function should return <code>false</code>
          tr
            td virtual-search-all
            td function(query, items)
            td
            td Search function that will be used by Search Bar, it receives search query and array with all items. You need to loop through items and return array with indexes of matched items
          tr
            td virtual-render-item
            td function(index, item)
            td
            td This optional function allows to use custom function to render item HTML. It could be used instead of <b>template</b> parameter
      h2 Event Properties
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td virtual:itemsbeforeinsert
            td Event will be triggered after current DOM list will be removed and before new document will be inserted
          tr
            td virtual:itemsafterinsert
            td Event will be triggered after new document fragment with items inserted
          tr
            td virtual:itembeforeinsert
            td Event will be triggered before item will be added to virtual document fragment
          tr
            td virtual:beforeclear
            td Event will be triggered before current DOM list will be removed and replaced with new document fragment