extends ../_internal-template


block vars
  - var activeLink = 'plugins';
  - var title = 'Framework7 Plugins';


block content
  - var plugins = getYamlData('plugins/plugins.yml');

  h1.text-align-center Framework7 Plugins
  .apps.plugins
    each app in plugins
      .app
        a.app-icon(href=app.url, target="_blank", data-hover-text="Plugin Page")
          if (app.iconUrl)
            img(src=app.iconUrl.replace('#{cdn}', cdn))
          else if (app.icon)
            .img(style='background-color: ' + app.icon.bgColor + '; color: ' + app.icon.textColor) #{app.icon.text}

          if app.badges
            .app-badges
              each badge in app.badges
                span #{badge}
        .app-info
          .app-title #{app.title}
          if app.author
            .app-author by <a href="#{app.author.url}" target="_blank">#{app.author.name}</a>
          .app-buttons
            a(href=app.url, target="_blank") Plugin Page
            if app.previewUrl
              a(href=app.previewUrl, target="_blank") Preview
          .app-description #{app.description}





