doctype
html
  head
    meta(charset="utf-8")
    title Framework7 v1 Documentation
    meta(property="og:image", content="http://framework7.io/framework7/i/f7-banner.jpg")
    link(rel="stylesheet", href="#{cdn}/css/normalize.css")
    link(rel="stylesheet", href="#{cdn}/css/main.css")
    link(rel="shortcut icon" href="favicon.png")
    script(src="#{cdn}/js/vendor/modernizr-2.7.1.min.js")
  //- test
  body
    .content.center
      .home-block
        .logo
        h1 Framework7 v1 Documentation
        .buttons
          a(href="/docs/") Framework7 API
          a(href="/vue/") Framework7 Vue
          a(href="/react/") Framework7 React
        .carbon.carbon-home
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=framework7io" id="_carbonads_js"></script>
    script(src="#{cdn}/js/vendor/jquery-1.11.0.min.js")
    script(src="#{cdn}/js/plugins.js")
    script(src="#{cdn}/js/main.js")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74282934-3"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-74282934-3');


